payload_clean.json
{"name":"Clínica Saúde - WhatsApp com Agendamento Refatorado","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"27c8ae71-ffad-47f5-91c7-75162cac0cf8","name":"numCliente","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"e2ad25ce-0378-4f14-8bf1-e875f5470109","name":"numEmpresa","value":"={{ $json.body.sender }}","type":"string"},{"id":"6a85fa66-7841-48ec-8f27-a8d3a2d6b1cb","name":"nomeCliente","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"813ac997-74cd-430c-85e6-59a9d2425df0","name":"instanceId","value":"={{ $json.body.data.instanceId }}","type":"string"},{"id":"5bc22302-7caa-43b8-a16e-3bc4de5742f8","name":"msg","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"a8350725-0ba8-452d-a2f5-ff6d0d56699e","name":"msgType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"66ce231e-1a75-4dc3-a434-b4482d8c2831","name":"msgID","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"0243ab0c-e04b-4adb-b206-f3f93d870ca7","name":"base64","value":"={{ $json.body.data.message.audioMessage.url }}","type":"string"},{"id":"d1f62128-3084-462b-8b18-5f5d57be712f","name":"intanceIDtelcliente","value":"={{ $json.body.data.instanceId }}{{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"07bb24d8-4ff1-4e50-9cfd-6157ca10b72f","name":"id_mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"5635b665-f540-4729-a029-cc10bf7d97d9","name":"timestamp","value":"={{ $json.body.data.messageTimestamp }}","type":"string"},{"id":"91dfda84-51ee-4bce-805a-588fc82ce93c","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2720,1232],"id":"5fded102-3208-4f05-938c-a922bfc865c7","name":"Campos iniciais"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e546f0c8-e150-45cf-b79f-43240aa06c05","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2480,1232],"id":"c48c7ada-d213-4557-a283-d333d870001b","name":"A Empresa Assumiu o Atendimento?"},{"parameters":{"operation":"get","tableId":"Empresa","filters":{"conditions":[{"keyName":"TelefoneWhatsapp","keyValue":"={{ $('Campos iniciais').item.json.numEmpresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3088,1760],"id":"90c3dd00-6700-4649-8e11-9ce3c8e9d7f4","name":"Get Empresa","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"operation":"get","tableId":"Clientes","filters":{"conditions":[{"keyName":"TelefoneWhatsapp","keyValue":"={{ $('Campos iniciais').item.json.numCliente }}"},{"keyName":"IdEmpresa","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2912,1760],"id":"b4bb8c21-ca7c-48a7-bb10-0bfba79d22ff","name":"Get Cliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"operation":"get","tableId":"Empresa","filters":{"conditions":[{"keyName":"TelefoneWhatsapp","keyValue":"={{ $('Campos iniciais').item.json.numEmpresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1600,1360],"id":"403fa76b-b1fe-4b9a-9ce1-75b7deddf95b","name":"Get Empresa1","credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"Clientes","matchType":"allFilters","filters":{"conditions":[{"keyName":"IdEmpresa","condition":"eq","keyValue":"={{ $json.id }}"},{"keyName":"TelefoneWhatsapp","condition":"eq","keyValue":"={{ $('Campos iniciais').item.json.numCliente }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"botativo","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1392,1360],"id":"c19d2e46-689c-493f-99b0-00203aa31e2b","name":"Update Cliente","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7a35107-43d3-4221-9e23-cbec7d0a7329","leftValue":"={{ $json.TelefoneWhatsapp }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2688,1760],"id":"edb289dc-c82b-41e9-855c-568a7057a12c","name":"Verificar se cliente está cadastrado"},{"parameters":{"tableId":"Clientes","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Campos iniciais').item.json.nomeCliente }}"},{"fieldId":"TelefoneWhatsapp","fieldValue":"={{ $('Campos iniciais').item.json.numCliente }}"},{"fieldId":"IdEmpresa","fieldValue":"={{ $('Get Empresa').item.json.id }}"},{"fieldId":"botativo","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2496,1872],"id":"cfb30d9b-b9d3-4968-88d5-4b034a185909","name":"Create Cliente","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"13822dc1-3f22-4105-bd78-151817f0786f","leftValue":"={{ $json.botativo }}","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2000,1792],"id":"2a2d1f4f-4824-4b8a-be70-222610c085e1","name":"Bot inativo"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1792,1712],"id":"35493dd7-fb66-40b8-b771-0953bcd5b1b0","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1184,1360],"id":"0c7c976f-8ca6-4d2f-a116-26785cd66c89","name":"No Operation, do nothing3"},{"parameters":{"operation":"get","tableId":"Empresa","filters":{"conditions":[{"keyName":"TelefoneWhatsapp","keyValue":"={{ $('Campos iniciais').item.json.numEmpresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1392,1088],"id":"d947f21d-ca03-42fd-ade1-8af8f3a890f8","name":"Get Empresa2","credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"Clientes","matchType":"allFilters","filters":{"conditions":[{"keyName":"IdEmpresa","condition":"eq","keyValue":"={{ $json.id }}"},{"keyName":"TelefoneWhatsapp","condition":"eq","keyValue":"={{ $('Campos iniciais').item.json.numCliente }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"botativo","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1184,1088],"id":"6cbc6785-7f1e-42c7-a80b-7114dae5e986","name":"Update Cliente1","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-992,1088],"id":"8e081360-4648-4b03-8f7f-9b2db4592af8","name":"No Operation, do nothing4"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1600,1088],"id":"ecde35e2-fab8-49e6-a97c-943372825e13","name":"esperar 10 minutos","webhookId":"4ce3c25b-9ea3-4f4b-b93e-38dee67dc34b"},{"parameters":{"content":"# Reativa bot para o cliente","height":260,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1856,992],"typeVersion":1,"id":"5ed7dad2-d400-4991-882c-ea0b49c722fe","name":"Sticky Note"},{"parameters":{"content":"# Desabilita o bot a interação do usuário.\n","height":260,"width":780,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1856,1264],"typeVersion":1,"id":"af63efd3-4957-4387-8788-6b242fd72d7a","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c1e6069-ecc3-4cfe-b95a-613a0561b78f","leftValue":"={{ $json.msg }}","rightValue":"😉","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2000,1216],"id":"40fd1a2c-9b5a-4e07-a0e5-2e82812801de","name":"Se existe o emoji 😉"},{"parameters":{"content":"# Transcreve audio e imagem para texto\n\n","height":580,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[-1776,1552],"typeVersion":1,"id":"0281a4f4-db6f-44ff-959f-ced1969ad694","name":"Sticky Note2"},{"parameters":{"content":"# Verificar se cliente está cadastrado\n","height":580,"width":840,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-3152,1552],"typeVersion":1,"id":"bb2c26cf-d123-426f-bc0a-6eeacae03095","name":"Sticky Note6"},{"parameters":{"content":"# verificar o bot\n","height":580,"width":460,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2272,1552],"typeVersion":1,"id":"c2ebaaab-be0d-4992-ac09-e0160673f09c","name":"Sticky Note7"},{"parameters":{"content":"# Coletar os dados\n","height":320,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3152,1136],"typeVersion":1,"id":"0d48f230-5e34-435b-bc5d-0558fb3b734a","name":"Sticky Note8"},{"parameters":{"content":"## Atendimento Ia ou Empresa\n","height":320},"type":"n8n-nodes-base.stickyNote","position":[-2752,1136],"typeVersion":1,"id":"2b1727be-a607-47da-baad-f056acc593b9","name":"Sticky Note9"},{"parameters":{"content":"# Ativar ou Desabilitar o bot\n","height":260,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2400,1136],"typeVersion":1,"id":"e431878d-4378-48e8-b841-af6095e7dbcb","name":"Sticky Note10"},{"parameters":{"operation":"get","propertyName":"Mensagem","key":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-128,1824],"id":"84f2aa2e-734d-4e92-8958-7bc163df9024","name":"BuscaMensagens","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"operation":"push","list":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","messageData":"={{ JSON.stringify($json) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-304,1824],"id":"611445f2-5a66-4dca-ad6f-fad123c37cb8","name":"RegistraMsgFila","alwaysOutputData":false,"credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"69ae624a-c135-4d58-b36c-94a66271b12d","leftValue":"={{ $json.Mensagem.length }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,1824],"id":"a2d819ac-8882-4ad5-8b3f-e82c09219a10","name":"VerificaSeÉMaiorQue1"},{"parameters":{"operation":"get","propertyName":"Mensagens","key":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[480,1824],"id":"a847aaa7-5939-42ec-8d52-19f35700b2b9","name":"VerificaMensagens","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"operation":"delete","key":"=558193794747@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[592,1600],"id":"d75a2219-40fc-4a06-9e8b-1e61954e16ec","name":"Redis1","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"assignments":{"assignments":[{"id":"56d366b6-65c5-46aa-9fd8-849c56a25e7a","name":"Mensagens","value":"={{ $json.Mensagens.reverse().join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,1824],"id":"136b58d7-47c4-409d-8d4c-206daef65aa8","name":"OrganizaMensagem"},{"parameters":{"operation":"delete","key":"={{ $('Webhook').first().json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[832,1984],"id":"b9c664d2-b8de-49be-b438-7f4b0d857562","name":"ResetaFila","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[288,1632],"id":"d0179ba4-15bd-464d-b7d9-4da3e09209fc","name":"Não faz nada, já tem mensagem processando"},{"parameters":{"amount":13},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[288,1824],"id":"0dad666b-5022-4822-951f-f65089aa23b9","name":"Aguarda 13 segundos","webhookId":"0917c991-996a-428c-b7e9-2f046aec9e9f","disabled":true},{"parameters":{"fieldToSplitOut":"answer","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1952,2304],"id":"d8a57e1f-bf1a-420c-bb27-5613e2103bc3","name":"Quebra a mensagem em várias mensagens"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1280,2432],"id":"5c97ebfe-60d4-4906-927e-bc0b15488a11","name":"Separa 1 mensagem para enviar"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Repete","typeVersion":1,"position":[-160,2464],"id":"077ac0d2-84f8-4cf8-ae50-7e9cff34f455"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-160,2224],"id":"f33ad2f8-1ea3-4d07-a985-d73137018530","name":"Aguarda 1 segundo","webhookId":"cdea2655-5b47-4805-9710-b97df84ae05c"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').first().json.body.instance || $env.EVOLUTION_INSTANCE || 'tvmundo' }}","remoteJid":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","messageText":"={{ $('Separa 1 mensagem para enviar').item.json.answer }}","options_message":{"delay":1800}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-416,2464],"id":"d202fff9-cbda-4b45-bb80-b6171bfa21c0","name":"Evolution API","credentials":{"evolutionApi":{"id":"Imygiuu6SHaoHNMn","name":"Evolution account felipe"}}},{"parameters":{"content":"# Passo 03: Cria Fila de Mensagens","height":580,"width":1400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-608,1552],"typeVersion":1,"id":"802271bc-b4ae-4de4-af19-c935acd30d9f","name":"Sticky Note12"},{"parameters":{"content":"# Passo 04: Processa Resposta do Agente + Tools de Agendamento","height":476,"width":1600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3168,2192],"typeVersion":1,"id":"bbd2a03e-9e21-4c70-b4ad-21bef690a7b8","name":"Sticky Note13"},{"parameters":{"content":"# Passo 05: Envia Resposta para o Cliente","height":520,"width":1640,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1504,2176],"typeVersion":1,"id":"26b29a35-efd2-4438-aa1f-23c37d0181c8","name":"Sticky Note14"},{"parameters":{"content":"# 📅 Clínica Saúde — Tools (RPC Supabase)\ncs_buscar_agendamentos | cs_consultar_vagas | cs_consultar_servicos | cs_agendar | cs_reagendar | cs_cancelar","height":408,"width":1164,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2720,2704],"typeVersion":1,"id":"0ff5ca12-9065-41f3-9895-7f4591015b68","name":"Sticky Note Agendamento"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Campos iniciais').item.json.msgType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"b2796cb1-10e0-4b9d-9a67-466b18af40ec"}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c018a87-f1c7-4136-bf4e-f3ef41dfbcc8","leftValue":"={{ $('Campos iniciais').item.json.msgType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8f4e2aa1-3c0d-4e1b-9a00-ef0000000001","leftValue":"={{ $('Campos iniciais').item.json.msgType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af57697f-18ed-4e0f-ae46-8c897ed420e8","leftValue":"={{ $('Campos iniciais').item.json.msgType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1440,1792],"id":"d0003237-1170-4fcb-a040-6b4c3a90bd34","name":"Verifica se é Image, Texto ou Áudio1","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d901a100-0001-4000-8000-0000000000b1","leftValue":"={{ $('Campos iniciais').item.json.msgType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1328,1632],"id":"c901a100-0001-4000-8000-0000000000a1","name":"É realmente áudio?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d901a100-0002-4000-8000-0000000000b2","leftValue":"={{ $('Campos iniciais').item.json.msgType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1328,1952],"id":"c901a100-0002-4000-8000-0000000000a2","name":"É realmente imagem?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1152,1792],"id":"e8f3c100-aaaa-4bbb-cccc-0000d1ff0ff1","name":"No Op — IF mídia → texto"},{"parameters":{"assignments":{"assignments":[{"id":"cbeb5f2a-a70d-40b3-9814-2c6e51ca7326","name":"base64","value":"={{ $('A Empresa Assumiu o Atendimento?').item.json.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,1952],"id":"a59461be-b23c-4cb2-b670-dbc12bdb3a17","name":"Pega o base64 da imagem1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1024,1952],"id":"677c726a-69dc-4572-92fe-4991fa965117","name":"Baixa a imagem1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"O que há nessa imagem? me de a resposta como se fosse um cliente descrevendo na imagem, comece dizendo: te enviei uma imagem que... Sempre em primeira pessoa, como se você você o cliente. Ao invés de dizer você me enviou, diga eu te enviei.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-848,1952],"id":"09b3cb64-aada-4db3-8584-add5a3427316","name":"Descreve o que está na imagem1","credentials":{"openAiApi":{"id":"v4dQPWdlMtUeGSD3","name":"OpenAi clinicas"}}},{"parameters":{"method":"POST","url":"={{ `https://evo.plataformabot.top/chat/getBase64FromMediaMessage/${$('Webhook').item.json.body.instance || $env.EVOLUTION_INSTANCE || 'tvmundo'}` }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { id: $('Campos iniciais').item.json.msgID, remoteJid: $('Campos iniciais').item.json.numCliente, fromMe: $('Campos iniciais').item.json.fromMe } }, convertToMp4: true }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,1632],"id":"9b2df19b-75a1-4303-a21f-435b3fad03d2","name":"HTTP Request1","alwaysOutputData":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-848,1632],"id":"c5d03993-8c84-4dc8-89fd-0481b184e00b","name":"Transcreve1","credentials":{"openAiApi":{"id":"v4dQPWdlMtUeGSD3","name":"OpenAi clinicas"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1024,1632],"id":"e0fed757-d099-4c5c-b396-7f45d7cb93e4","name":"Convert to File3"},{"parameters":{"assignments":{"assignments":[{"id":"ea5e28bf-fc6b-410d-a4d5-177b7f96643a","name":"answer","value":"={{ ((t) => { const byNl = t.split(/\\r?\\n+/).map((p) => p.trim()).filter((p) => p.length); return byNl.length > 1 ? byNl : t.split(/(?<=\\.\\s)|(?<=\\?\\s)|(?<=!\\s)(?!Boa\\s|Bom\\s)/).map((p) => p.trim()).filter((p) => p.length); })($json.output.trim()) }}","type":"array"},{"id":"1ad85eae-f84d-471b-8a99-24e327318a1e","name":"conversation_id","value":"={{ $('Edit Fields2').item.json.ConversationID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2128,2304],"id":"397ad71a-f84d-4a4e-b3c5-9bb2b0cec682","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-880,2272],"id":"27be8340-99b6-42d2-8e96-252a138db23d","name":"No Operation, do nothing5"},{"parameters":{"assignments":{"assignments":[{"id":"f4619dc7-e0fc-4a5a-a14e-b059dbfdddba","name":"mensagem","value":"={{ $json.Mensagens }}","type":"string"},{"id":"65710ade-31f6-4569-84c7-e6acdd3cf3b2","name":"body.data.key.remoteJid","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2896,2304],"id":"0c25e62b-f5ef-48b2-9e13-811a369eaa08","name":"Edit Fields2"},{"parameters":{"httpMethod":"POST","path":"a9a0aa31-2d90-45ad-8da2-536c499768d8","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3120,1232],"id":"18a0ca99-da0a-4f44-b61c-e04d63be70af","name":"Webhook","webhookId":"a9a0aa31-2d90-45ad-8da2-536c499768d8"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Você é a Ana Laura, atendente virtual da Clínica Saúde. Data/Hora atual: {{ $now.format('dd/MM/yyyy HH:mm') }}\nTelefone do cliente (use nas tools como p_telefone): {{ $('Webhook').first().json.body.data.key.remoteJid }}\nNome do cliente: {{ $('Webhook').first().json.body.data.pushName }}\n\n## Papel\nAtendimento pelo WhatsApp: tira dúvidas sobre tratamentos odontológicos, apresenta serviços e agenda consultas com profissionais.\n\n## Linguagem\n- Tom acolhedor e claro; evite termos muito técnicos\n- Nunca use emojis nas mensagens\n\n## Saudação (primeiro contacto ou quando der boas-vindas)\n- Olhe a Data/Hora no topo: até ~12h use «Bom dia»; ~12h–18h «Boa tarde»; depois «Boa noite».\n- O primeiro envio tem de ser SEMPRE numa única linha, neste molde: «Olá! Boa tarde!» (ou Bom dia / Boa noite conforme a hora). É proibido enviar só «Olá!» sem o período na mesma mensagem.\n- Separe com Enter (três linhas = três bolhas). Use exatamente este formato, sem trocar ordem nem juntar linhas:\nLinha 1: Olá! [Bom dia!|Boa tarde!|Boa noite!]\nLinha 2: Bem-vindo(a) à Clínica Saúde.\nLinha 3: Como posso ajudar você hoje?\n- Na linha 3 use só essa pergunta curta. Não ponha «na Clínica Saúde» na linha 3. Não use na abertura frases como «Está interessado em informações sobre tratamentos…» — guarde isso para depois da primeira resposta do cliente, se fizer falta.\n- São só três envios nessa saudação; não acrescente mais perguntas na mesma rodada.\n\n## Depois que o cliente responder\n- Se quiser agendar, peça em momentos adequados (e confirme): nome como prefere ser chamado, qual procedimento deseja (use o catálogo e cs_consultar_servicos) e com qual profissional gostaria de ser atendido (opções reais das tools).\n\n## Conhecimento de procedimentos (sempre disponível para si)\n- O «Catálogo de procedimentos» abaixo faz parte deste prompt: está sempre na sua memória de instruções. Use-o para listar categorias, explicar tratamentos e responder «que serviços vocês têm».\n- Nunca diga que não consegue aceder à lista de procedimentos, que falhou o sistema ou que não tem a lista — isso seria incorreto: o catálogo está aqui em texto.\n- cs_consultar_servicos serve para alinhar com a base e obter servico_id ao AGENDAR; se a tool falhar ou não devolver linhas, continue a orientar com o catálogo e, só para marcação, diga que vai confirmar o registo no sistema.\n\n## Catálogo de procedimentos (Clínica Saúde)\nUse este rol ao explicar tratamentos e ao alinhar o pedido do cliente ao que a clínica oferece. Para marcar na agenda, chame cs_consultar_servicos e use o servico_id que existir na base para o caso (nunca invente UUID). Se o cliente disser algo genérico (ex.: limpeza), associe ao item equivalente abaixo (ex.: Profilaxia).\n\n1. Prevenção e limpeza\n- Exame clínico odontológico\n- Profilaxia (limpeza e polimento)\n- Prevenção de cáries (aplicação de flúor / cariostático)\n- Aplicação de selante de fissuras\n- Orientação em higiene bucal individual / coletiva\n\n2. Restauração e reconstrução\n- Tratamento de cárie (restauração simples: resina, amálgama, etc.)\n- Restauração complexa (grande perda de estrutura)\n- Tratamento de canal / endodontia (um canal, múltiplos canais)\n- Rework de restauração antiga\n- Tratamento de sensibilidade dental\n\n3. Cirurgia e extrações\n- Extração simples de dente permanente / decíduo\n- Extração cirúrgica (incluída, siso)\n- Cirurgia de exérese de cisto / pequena lesão óssea\n- Alveoloplastia (modificação do alvéolo após extração)\n- Biópsia de tecidos bucais\n- Frenectomia / frenulotomia (labial ou lingual)\n- Drenagem de abscesso / incisão e drenagem\n\n4. Periodontia (gengiva)\n- Raspagem e alisamento radicular (por dente / sextante)\n- Polimento supragengival\n- Tratamento de gengivite\n- Tratamento de periodontite leve, moderada e grave\n- Controle de hemorragia gengival\n- Tratamento de recessão gengival / enxerto de tecido gengival\n\n5. Prótese e reabilitação\n- Coroas (metálica, metalocerâmica, zircônia, resina)\n- Inlays e onlays\n- Prótese parcial removível (acrílica, metálica)\n- Prótese total (dentadura superior e inferior)\n- Prótese sobre implante (unitária, parcial, total)\n- Reparação de prótese (reparo, ajuste, rebasamento)\n\n6. Implantodontia\n- Implante unitário\n- Implante múltiplo\n- Enxerto ósseo (augmentação óssea)\n- Regeneração tecidual guiada (colágeno, biomateriais)\n- Manutenção de implante (controle peri-implantar)\n\n7. Endodontia avançada\n- Retratamento de canal\n- Odontossectomia / odontosecção\n- Apicectomia com ou sem obturação retrógrada\n- Tratamento de necrose pulpária\n- Tratamento de abscesso periapical\n\n8. Estética dental\n- Clareamento dental em consultório\n- Clareamento dental caseiro (gel + moldeira)\n- Facetas de porcelana\n- Lentes de contato dental\n- Contorno e composição estética (correção de forma / cor)\n- Gingivoplastia / gengivectomia estética\n- Tratamento de diastema (fechamento de espaços)\n\n9. Ortodontia e mordida\n- Avaliação ortodôntica (diagnóstico e plano)\n- Colagem de braquetes metálicos / cerâmicos\n- Ajustes de aparelho fixo\n- Uso de elásticos ortodônticos\n- Aparelho removível (funcional, placas)\n- Alinhadores invisíveis (ex.: tipo Invisalign; alinhadores transparentes)\n- Contenção ortodôntica (retenção fixa / removível)\n\n10. Diagnóstico por imagem\n- Radiografia periapical (por dente)\n- Radiografia interproximal (bite-wing)\n- Radiografia panorâmica\n- Radiografia cefalométrica\n- Tomografia computadorizada (tomografia 3D)\n\n11. Urgência e emergência\n- Atendimento de dor aguda na boca\n- Controle de dor / inflamação\n- Tratamento de trauma dentário (fratura, luxação, avulsão)\n- Controle de sangramento oral\n- Tratamento de úlcera / afta / lesão aguda da mucosa\n\n12. Odontologia infantil\n- Aplicação de selante em crianças\n- Fluorterapia infantil\n- Coroas de aço pré-formado (crianças)\n- Tratamento de canal em dente de leite\n\nSem confirmação real das tools (cs_consultar_vagas / cs_agendar com sucesso), não afirme data, horário ou profissional já agendados.\n\n\n## Regras\n- Explicar procedimentos: use o catálogo deste prompt (não dependa só da tool para saber o que a clínica oferece em geral).\n- Horários vagas e marcar na agenda: use as tools; não invente datas, horários ou UUIDs.\n- Use cs_consultar_servicos para servico_id na base ao agendar e cs_consultar_vagas para horários livres (até 20 slots nos próximos 30 dias).\n\n## Quando o cliente quiser agendar\n- Pergunte e confirme o nome completo (ou como prefere ser chamado) para o agendamento. Não assuma só o nome do WhatsApp (pushName) sem o cliente confirmar ou corrigir.\n- Pergunte qual procedimento ou consulta ele quer; alinhe com um serviço de cs_consultar_servicos e use o servico_id correto na hora de agendar.\n- Pergunte com qual profissional ele quer ser atendido. Mostre opções reais vindas de cs_consultar_vagas ou cs_consultar_servicos conforme o fluxo (cada vaga traz profissional e profissional_id). Só depois de ele escolher o profissional, combine data e horário.\n- Em cs_agendar use nome_cliente com o nome confirmado pelo cliente, servico_id do procedimento escolhido e preencha observacoes com um resumo do que será feito (procedimento / motivo da consulta) se fizer sentido.\n- Antes de chamar cs_agendar, confirme em uma mensagem: nome, procedimento, profissional, data e horário.\n- Para reagendar ou cancelar: primeiro cs_buscar_agendamentos; use profissional_id, data_iso (YYYY-MM-DD) e horario (HH:MM) da linha escolhida\n- Datas nas tools: YYYY-MM-DD; horários: HH:MM\n- Cancelamento só após confirmação explícita; ofereça reagendamento antes\n\n## Tools (Clínica Saúde)\n- cs_buscar_agendamentos: agendamentos ativos do cliente pelo telefone (remoteJid completo)\n- cs_consultar_vagas: próximos horários disponíveis\n- cs_consultar_servicos: serviços ativos com servico_id\n- cs_agendar: criar agendamento após confirmação\n- cs_reagendar: mudar data/horário/profissional (precisa dados atuais da busca + novo slot)\n- cs_cancelar: cancelar e libertar horário"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2656,2304],"id":"9f936e7c-3635-40e5-9398-6a320015ab6b","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"5dc53d5f-d070-433e-8d04-338c0fb42de0","name":"msg","value":"={{ $('Campos iniciais').item.json.msg }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1024,1792],"id":"b6e0485b-be7f-4464-8cc2-5097ee7e2f43","name":"Edit Fields3"},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-2832,2512],"id":"0551fd62-581a-4b9d-984b-514cf04b0a9c","name":"Refletir1"},{"parameters":{"toolDescription":"Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.","method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendReaction/' + ($('Webhook').first().json.body.instance || $env.EVOLUTION_INSTANCE || 'tvmundo') }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Webhook').first().json.body.data.key.remoteJid }}\",\n    \"fromMe\": {{ $('Webhook').first().json.body.data.key.fromMe }},\n    \"id\": \"{{ $('Webhook').first().json.body.data.key.id }}\"\n  },\n  \"reaction\": \"{reacao}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2704,2512],"id":"cf128f83-de00-44ba-b439-c89d9a3a8aba","name":"Reagir mensagem1","credentials":{"evolutionApi":{"id":"Imygiuu6SHaoHNMn","name":"Evolution account felipe"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd03ef2f-feef-43fe-83c8-ac6503b6d854","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"558196454656@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2928,1232],"id":"744347c5-594c-43a7-952c-acd3e69aac37","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1861fc2-7c83-476d-9d32-a11ed739f786","leftValue":"={{ $json.answer }}","rightValue":"https","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,2464],"id":"503d2573-c033-450d-8605-1f01a1256394","name":"If"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"={{ $('Webhook').first().json.body.instance || $env.EVOLUTION_INSTANCE || 'tvmundo' }}","remoteJid":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","media":"={{ $json.imagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-416,2192],"id":"0b30f4d2-f655-42a8-af12-a9770baa5732","name":"Evolution API1","credentials":{"evolutionApi":{"id":"Imygiuu6SHaoHNMn","name":"Evolution account felipe"}}},{"parameters":{"jsCode":"return items.map(item => {\n  const texto = item.json.answer || '';\n  const match = texto.match(/https?:\\/\\/[^\\s]+?\\.(jpg|jpeg|png|gif)(\\?[^\\s]*)?/i);\n\n  return {\n    json: {\n      imagem: match ? match[0] : null\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,2352],"id":"ab6bcec0-58b1-4ea7-a70c-672b3b104558","name":"Code"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').first().json.body.data.key.remoteJid }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2960,2512],"id":"0d3beb3b-0dc6-43af-97e5-26e69452becc","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"et3QrDBkKSd0EwRF","name":"Postgres clinica"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3120,2512],"id":"e70100ff-11ba-4a0b-93c8-6e4462931fe6","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"v4dQPWdlMtUeGSD3","name":"OpenAi clinicas"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[-976,2464],"id":"3cb68d65-474c-4279-93bb-3c1e8cea7384"},{"parameters":{"toolDescription":"Busca agendamentos ativos pelo telefone WhatsApp (remoteJid). Retorna id, profissional_id, data_iso (YYYY-MM-DD), horario (HH:MM), serviço e profissional. Use antes de reagendar ou cancelar.","method":"POST","url":"https://xkwdwioawosthwjqijfb.supabase.co/rest/v1/rpc/n8n_cs_buscar_agendamentos","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_telefone\": \"{telefone}\"\n}","placeholderDefinitions":{"values":[{"name":"telefone","description":"Telefone WhatsApp completo (ex.: 5581999990000@s.whatsapp.net). Use o mesmo do Webhook.","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2640,2928],"id":"cbad5e3c-d8a4-43dc-ae76-e76a68e87ae2","name":"cs_buscar_agendamentos","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Lista até 20 horários disponíveis nos próximos 30 dias (horario_id, data, profissional_id). Chame antes de agendar ou ao sugerir datas ao cliente.","method":"POST","url":"https://xkwdwioawosthwjqijfb.supabase.co/rest/v1/rpc/n8n_cs_consultar_vagas","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2448,2928],"id":"1e98cb06-f12f-4cac-9b29-cea8672fe332","name":"cs_consultar_vagas","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Lista serviços odontológicos ativos (servico_id, nome, duração). Use ao explicar tratamentos ou ao escolher servico_id para agendar.","method":"POST","url":"https://xkwdwioawosthwjqijfb.supabase.co/rest/v1/rpc/n8n_cs_consultar_servicos","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2256,2928],"id":"d8a8c94b-4c71-42dd-af09-6cb93973f7f9","name":"cs_consultar_servicos","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Cria agendamento após confirmação explícita do cliente. data e horario no formato YYYY-MM-DD e HH:MM; profissional_id e servico_id são UUIDs das tools de vagas e serviços.","method":"POST","url":"https://xkwdwioawosthwjqijfb.supabase.co/rest/v1/rpc/n8n_cs_agendar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"p_nome_cliente\": \"{nome_cliente}\",\n  \"p_telefone_cliente\": \"{telefone_cliente}\",\n  \"p_data_agendamento\": \"{data}\",\n  \"p_horario\": \"{horario}\",\n  \"p_profissional_id\": \"{profissional_id}\",\n  \"p_servico_id\": \"{servico_id}\",\n  \"p_observacoes\": \"{observacoes}\"\n}","placeholderDefinitions":{"values":[{"name":"nome_cliente","description":"Nome do cliente (vem do sistema)","type":"string"},{"name":"telefone_cliente","description":"Telefone WhatsApp completo (remoteJid)","type":"string"},{"name":"profissional_id","description":"UUID do profissional (tool vagas)","type":"string"},{"name":"servico_id","description":"UUID do serviço (tool serviços)","type":"string"},{"name":"data","description":"Data YYYY-MM-DD","type":"string"},{"name":"horario","description":"Hora HH:MM","type":"string"},{"name":"observacoes","description":"Observações ou string vazia","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2064,2928],"id":"c9c07b02-5048-4c90-a121-b3318e6c924f","name":"cs_agendar","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Reagenda consulta existente após confirmação. profissional_antigo_id, data_antiga e horario_antigo vêm de cs_buscar_agendamentos; novo slot das vagas disponíveis.","method":"POST","url":"https://xkwdwioawosthwjqijfb.supabase.co/rest/v1/rpc/cs_reagendar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_agendamento_id\": \"{agendamento_id}\",\n  \"p_nova_data\": \"{nova_data}\",\n  \"p_novo_horario\": \"{novo_horario}\",\n  \"p_novo_profissional_id\": \"{novo_profissional_id}\",\n  \"p_profissional_antigo_id\": \"{profissional_antigo_id}\",\n  \"p_data_antiga\": \"{data_antiga}\",\n  \"p_horario_antigo\": \"{horario_antigo}\"\n}","placeholderDefinitions":{"values":[{"name":"agendamento_id","description":"UUID do agendamento","type":"string"},{"name":"nova_data","description":"Nova data YYYY-MM-DD","type":"string"},{"name":"novo_horario","description":"Novo horário HH:MM","type":"string"},{"name":"novo_profissional_id","description":"UUID do profissional do novo slot","type":"string"},{"name":"profissional_antigo_id","description":"UUID profissional atual (da busca)","type":"string"},{"name":"data_antiga","description":"Data atual YYYY-MM-DD (da busca)","type":"string"},{"name":"horario_antigo","description":"Horário atual HH:MM (da busca; usar HH:MM mesmo que a busca mostre HH:MM)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1872,2928],"id":"27de69a6-44d1-4d6a-bb58-91137efbc412","name":"cs_reagendar","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Cancela consulta após confirmação explícita. profissional_id, data (YYYY-MM-DD) e horario (HH:MM) devem ser os do agendamento cancelado (cs_buscar_agendamentos).","method":"POST","url":"https://xkwdwioawosthwjqijfb.supabase.co/rest/v1/rpc/n8n_cs_cancelar","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_agendamento_id\": \"{agendamento_id}\",\n  \"p_profissional_id\": \"{profissional_id}\",\n  \"p_data\": \"{data}\",\n  \"p_horario\": \"{horario}\",\n  \"p_motivo\": \"{motivo}\"\n}","placeholderDefinitions":{"values":[{"name":"agendamento_id","description":"UUID do agendamento","type":"string"},{"name":"profissional_id","description":"UUID do profissional da consulta","type":"string"},{"name":"data","description":"Data da consulta YYYY-MM-DD","type":"string"},{"name":"horario","description":"Horário HH:MM","type":"string"},{"name":"motivo","description":"Motivo ou \"Cancelado pelo cliente\"","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1680,2928],"id":"eb605ff4-16a1-4df3-8630-ebab43122cad","name":"cs_cancelar","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e546f0c8-e150-45cf-b79f-43240aa06c05","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2672,992],"id":"84ce5f75-8f0e-4b14-99f7-f487cc39969b","name":"A Empresa Assumiu o Atendimento?1"}],"connections":{"Campos iniciais":{"main":[[{"node":"A Empresa Assumiu o Atendimento?","type":"main","index":0}]]},"A Empresa Assumiu o Atendimento?":{"main":[[{"node":"Se existe o emoji 😉","type":"main","index":0}],[{"node":"Get Empresa","type":"main","index":0}]]},"Get Empresa":{"main":[[{"node":"Get Cliente","type":"main","index":0}]]},"Get Cliente":{"main":[[{"node":"Verificar se cliente está cadastrado","type":"main","index":0}]]},"Get Empresa1":{"main":[[{"node":"Update Cliente","type":"main","index":0}]]},"Update Cliente":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Verificar se cliente está cadastrado":{"main":[[{"node":"Bot inativo","type":"main","index":0}],[{"node":"Create Cliente","type":"main","index":0}]]},"Create Cliente":{"main":[[{"node":"Bot inativo","type":"main","index":0}]]},"Bot inativo":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Verifica se é Image, Texto ou Áudio1","type":"main","index":0}]]},"Get Empresa2":{"main":[[{"node":"Update Cliente1","type":"main","index":0}]]},"Update Cliente1":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"esperar 10 minutos":{"main":[[{"node":"Get Empresa2","type":"main","index":0}]]},"Se existe o emoji 😉":{"main":[[{"node":"esperar 10 minutos","type":"main","index":0}],[{"node":"Get Empresa1","type":"main","index":0}]]},"BuscaMensagens":{"main":[[{"node":"VerificaSeÉMaiorQue1","type":"main","index":0}]]},"RegistraMsgFila":{"main":[[{"node":"BuscaMensagens","type":"main","index":0}]]},"VerificaSeÉMaiorQue1":{"main":[[{"node":"Não faz nada, já tem mensagem processando","type":"main","index":0}],[{"node":"Aguarda 13 segundos","type":"main","index":0}]]},"VerificaMensagens":{"main":[[{"node":"OrganizaMensagem","type":"main","index":0}]]},"OrganizaMensagem":{"main":[[{"node":"ResetaFila","type":"main","index":0}]]},"ResetaFila":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Aguarda 13 segundos":{"main":[[{"node":"VerificaMensagens","type":"main","index":0}]]},"Quebra a mensagem em várias mensagens":{"main":[[{"node":"Separa 1 mensagem para enviar","type":"main","index":0}]]},"Separa 1 mensagem para enviar":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Repete":{"main":[[{"node":"Separa 1 mensagem para enviar","type":"main","index":0}]]},"Aguarda 1 segundo":{"main":[[{"node":"Repete","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Aguarda 1 segundo","type":"main","index":0}]]},"Verifica se é Image, Texto ou Áudio1":{"main":[[{"node":"É realmente áudio?","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"É realmente imagem?","type":"main","index":0}]]},"É realmente áudio?":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"No Op — IF mídia → texto","type":"main","index":0}]]},"É realmente imagem?":{"main":[[{"node":"Pega o base64 da imagem1","type":"main","index":0}],[{"node":"No Op — IF mídia → texto","type":"main","index":0}]]},"No Op — IF mídia → texto":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Pega o base64 da imagem1":{"main":[[{"node":"Baixa a imagem1","type":"main","index":0}]]},"Baixa a imagem1":{"main":[[{"node":"Descreve o que está na imagem1","type":"main","index":0}]]},"Descreve o que está na imagem1":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"Transcreve1":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"Transcreve1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Quebra a mensagem em várias mensagens","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Reagir mensagem1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Filter":{"main":[[{"node":"Campos iniciais","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Separa 1 mensagem para enviar","type":"main","index":0}]]},"Code":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Replace Me1":{"main":[[{"node":"If","type":"main","index":0}]]},"cs_buscar_agendamentos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_consultar_vagas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_consultar_servicos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_agendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_reagendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_cancelar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"A Empresa Assumiu o Atendimento?1":{"main":[[]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","executionTimeout":3600,"timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null}