n8n/assistente-clinica-inteligente.json
{
  "name": "Assistente Clinica Inteligente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistente-clinica-inteligente",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2d2f2a2-1111-4111-8111-111111111111",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "assistente-clinica-inteligente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "x1",
              "name": "clinic_id",
              "value": "={{ $json.body.clinic_id }}",
              "type": "string"
            },
            {
              "id": "x2",
              "name": "phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "x3",
              "name": "patient_name",
              "value": "={{ $json.body.patient_name }}",
              "type": "string"
            },
            {
              "id": "x4",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2d2f2a2-2222-4222-8222-222222222222",
      "name": "Normalizar entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 400]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst text = String(j.message || '').toLowerCase();\nconst wantsHuman = /falar com (um )?humano|atendente|pessoa real|operador|falar com algu[eé]m|quero um humano/.test(text);\nlet intent = 'info';\nif (/agendar|marcar|marca[cç][aã]o|hor[aá]rio|consulta|quero ver|dispon[ií]vel/.test(text)) intent = 'schedule';\nif (/cancelar|desmarcar|anular/.test(text)) intent = 'cancel';\nif (/reagendar|remarcar|mudar.{0,8}(data|hor[aá]rio)/.test(text)) intent = 'reschedule';\nreturn [{ json: { ...j, intent, wants_human: wantsHuman } }];"
      },
      "id": "b2d2f2a2-3333-4333-8333-333333333333",
      "name": "Classificar intenção",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "h1",
              "leftValue": "={{ $json.wants_human }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b2d2f2a2-3444-4333-8333-333333333344",
      "name": "Pediu humano?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.whatsapp_sessions (clinic_id, phone, needs_human, staff_handling, last_message_preview, updated_at)\nVALUES (\n  '{{ $json.clinic_id }}'::uuid,\n  '{{ String($json.phone || \"\").replace(/'/g, \"''\") }}',\n  true,\n  false,\n  left('{{ String($json.message || \"\").replace(/'/g, \"''\") }}', 500),\n  now()\n)\nON CONFLICT (clinic_id, phone) DO UPDATE SET\n  needs_human = true,\n  last_message_preview = EXCLUDED.last_message_preview,\n  updated_at = now();",
        "options": {}
      },
      "id": "b2d2f2a2-3555-4333-8333-333333333355",
      "name": "Upsert sessão needs_human",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [860, 200],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_APP_URL || 'https://SEU_DOMINIO' }}/api/agendamentos-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AGENDAMENTOS_SYNC_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2d2f2a2-3666-4333-8333-333333333366",
      "name": "HTTP revalidate Next",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: 'WhatsApp pediu humano. Clínica: ' + $('Classificar intenção').first().json.clinic_id + ' Tel: ' + $('Classificar intenção').first().json.phone }) }}",
        "options": {}
      },
      "id": "b2d2f2a2-3777-4333-8333-333333333377",
      "name": "Telegram dono",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, escalated: true, message: 'Vamos chamar alguém da equipa. Aguarde um momento.' } }}",
        "options": {}
      },
      "id": "b2d2f2a2-3888-4333-8333-333333333388",
      "name": "Responder escalação",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ic1",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "schedule",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b2d2f2a2-4444-4444-8444-444444444444",
      "name": "É agendamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [860, 520]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, name, specialty, sort_order FROM public.professionals WHERE clinic_id = '{{ $('Classificar intenção').first().json.clinic_id }}'::uuid AND is_active = true ORDER BY sort_order, name",
        "options": {}
      },
      "id": "b2d2f2a2-5555-4555-8555-555555555555",
      "name": "Listar profissionais",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 400],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pros = $input.all().map((i) => i.json);\nconst base = $('Classificar intenção').first().json;\nreturn [{ json: { ...base, professionals: pros } }];"
      },
      "id": "b2d2f2a2-5a5a-4555-8555-55555555555a",
      "name": "Agregar profissionais",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "reply",
              "value": "={{ JSON.stringify({ ok: true, intent: 'schedule', clinic_id: $json.clinic_id, phone: $json.phone, professionals: $json.professionals, hint: 'Ligar OpenAI Agent + slots (appointments) + INSERT patient/appointment + Twilio SMS + HTTP revalidate' }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2d2f2a2-6666-4666-8666-666666666666",
      "name": "Montar resposta agendar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.reply) }}",
        "options": {}
      },
      "id": "b2d2f2a2-7777-4777-8777-777777777777",
      "name": "Responder agendar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "ic2",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "cancel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ic3",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "reschedule",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b2d2f2a2-8888-4888-8888-888888888888",
      "name": "É cancelar ou remarcar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 640]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT a.id, a.starts_at, a.ends_at, a.service_name, p.name AS professional_name FROM public.appointments a JOIN public.patients pt ON pt.id = a.patient_id JOIN public.professionals p ON p.id = a.professional_id WHERE a.clinic_id = '{{ $('Classificar intenção').first().json.clinic_id }}'::uuid AND pt.phone = '{{ String($('Classificar intenção').first().json.phone || '').replace(/'/g, \"''\") }}' AND a.status = 'scheduled' ORDER BY a.starts_at",
        "options": {}
      },
      "id": "b2d2f2a2-9999-4999-8999-999999999999",
      "name": "Listar marcações telefone",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, 580],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const appts = $input.all().map((i) => i.json);\nconst base = $('Classificar intenção').first().json;\nreturn [{ json: { ...base, appointments: appts } }];"
      },
      "id": "b2d2f2a2-9a9a-4999-8999-99999999999a",
      "name": "Agregar marcações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 580]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r2",
              "name": "reply",
              "value": "={{ JSON.stringify({ ok: true, intent: $json.intent, clinic_id: $json.clinic_id, phone: $json.phone, appointments: $json.appointments, hint: 'UPDATE appointments; depois HTTP revalidate + WhatsApp confirmação' }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2d2f2a2-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Montar resposta cancelar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.reply) }}",
        "options": {}
      },
      "id": "b2d2f2a2-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Responder cancelar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, intent: 'info', message: 'Olá! Somos a sua clínica. Para marcar diga o dia; para cancelar diga cancelar. (Substitua por nó OpenAI Agent com memória + FAQ.)' } }}",
        "options": {}
      },
      "id": "b2d2f2a2-cccc-4ccc-8ccc-cccccccccccc",
      "name": "Responder dúvida",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 760]
    },
    {
      "parameters": {
        "content": "## OpenAI Agent\n\nEntre **Classificar intenção** e **Responder dúvida**: adicione um nó **OpenAI** → **Agent** com memória (Window Buffer ou Postgres) para FAQ da clínica.\n\n## Slots livres\n\nQuery exemplo: `SELECT generate_series(...)` ou comparar `appointments` por `professional_id` no dia pedido.\n\n## INSERT agendamento\n\n1. `INSERT patients ON CONFLICT DO NOTHING`\n2. `INSERT appointments` com `starts_at`/`ends_at`\n3. Nó **Twilio** SMS ao `phone`\n4. **HTTP revalidate Next** (igual ao nó de escalação)\n5. Resposta WhatsApp de confirmação\n\n## staff_handling\n\nSe `SELECT staff_handling FROM whatsapp_sessions` for true, pode pular respostas automáticas do bot.",
        "height": 468,
        "width": 380
      },
      "id": "b2d2f2a2-sticky-0001",
      "name": "Notas implementação",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 80]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [[{ "node": "Normalizar entrada", "type": "main", "index": 0 }]]
    },
    "Normalizar entrada": {
      "main": [[{ "node": "Classificar intenção", "type": "main", "index": 0 }]]
    },
    "Classificar intenção": {
      "main": [[{ "node": "Pediu humano?", "type": "main", "index": 0 }]]
    },
    "Pediu humano?": {
      "main": [
        [
          { "node": "Upsert sessão needs_human", "type": "main", "index": 0 }
        ],
        [
          { "node": "É agendamento?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upsert sessão needs_human": {
      "main": [[{ "node": "HTTP revalidate Next", "type": "main", "index": 0 }]]
    },
    "HTTP revalidate Next": {
      "main": [[{ "node": "Telegram dono", "type": "main", "index": 0 }]]
    },
    "Telegram dono": {
      "main": [[{ "node": "Responder escalação", "type": "main", "index": 0 }]]
    },
    "É agendamento?": {
      "main": [
        [
          { "node": "Listar profissionais", "type": "main", "index": 0 }
        ],
        [
          { "node": "É cancelar ou remarcar?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Listar profissionais": {
      "main": [[{ "node": "Agregar profissionais", "type": "main", "index": 0 }]]
    },
    "Agregar profissionais": {
      "main": [[{ "node": "Montar resposta agendar", "type": "main", "index": 0 }]]
    },
    "Montar resposta agendar": {
      "main": [[{ "node": "Responder agendar", "type": "main", "index": 0 }]]
    },
    "É cancelar ou remarcar?": {
      "main": [
        [
          { "node": "Listar marcações telefone", "type": "main", "index": 0 }
        ],
        [
          { "node": "Responder dúvida", "type": "main", "index": 0 }
        ]
      ]
    },
    "Listar marcações telefone": {
      "main": [[{ "node": "Agregar marcações", "type": "main", "index": 0 }]]
    },
    "Agregar marcações": {
      "main": [[{ "node": "Montar resposta cancelar", "type": "main", "index": 0 }]]
    },
    "Montar resposta cancelar": {
      "main": [[{ "node": "Responder cancelar", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
