n8n/workflow-kCX2-patched.json
{"updatedAt":"2026-04-05T14:33:15.534Z","createdAt":"2026-04-01T14:42:18.222Z","id":"kCX2LfxJrdYWB0vk","name":"Clinica atualizada","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"27c8ae71-ffad-47f5-91c7-75162cac0cf8","name":"numCliente","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"e2ad25ce-0378-4f14-8bf1-e875f5470109","name":"numEmpresa","value":"={{ $json.body.sender }}","type":"string"},{"id":"6a85fa66-7841-48ec-8f27-a8d3a2d6b1cb","name":"nomeCliente","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"813ac997-74cd-430c-85e6-59a9d2425df0","name":"instanceId","value":"={{ $json.body.data.instanceId }}","type":"string"},{"id":"5bc22302-7caa-43b8-a16e-3bc4de5742f8","name":"msg","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"a8350725-0ba8-452d-a2f5-ff6d0d56699e","name":"msgType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"66ce231e-1a75-4dc3-a434-b4482d8c2831","name":"msgID","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"0243ab0c-e04b-4adb-b206-f3f93d870ca7","name":"base64","value":"={{ $json.body.data.message.audioMessage.url }}","type":"string"},{"id":"d1f62128-3084-462b-8b18-5f5d57be712f","name":"intanceIDtelcliente","value":"={{ $json.body.data.instanceId }}{{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"07bb24d8-4ff1-4e50-9cfd-6157ca10b72f","name":"id_mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"5635b665-f540-4729-a029-cc10bf7d97d9","name":"timestamp","value":"={{ $json.body.data.messageTimestamp }}","type":"string"},{"id":"91dfda84-51ee-4bce-805a-588fc82ce93c","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,-1328],"id":"fe44522f-b176-432f-a49c-84f44ca6cd98","name":"Campos iniciais"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e546f0c8-e150-45cf-b79f-43240aa06c05","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,-1360],"id":"1fbaa50e-967e-4fc0-8f3a-f15ae04a349f","name":"A Empresa Assumiu o Atendimento?"},{"parameters":{"operation":"get","tableId":"clinics","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Code merge webhook e resolucao').first().json.clinica_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2864,-896],"id":"8f0957df-e9a9-455a-a297-0dcb8313c694","name":"Get Empresa","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"operation":"get","tableId":"cs_clientes","filters":{"conditions":[{"keyName":"clinic_id","keyValue":"={{ $('Get Empresa').item.json.id }}"},{"keyName":"telefone","keyValue":"={{ String($('Edit Fields1').item.json.numCliente || '').split('@')[0].replace(/\\D/g, '') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2688,-896],"id":"7b716a08-98f0-4e63-8e5d-5016ffb1e565","name":"Get Cliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"crm-if-uuid","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2544,-896],"id":"e41ca8b0-9f2c-4c8d-a1e0-crmwhatsapp0001","name":"CRM Cliente com id?"},{"parameters":{"method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_crm_whatsapp_touch' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  p_clinic_id: $('Get Empresa').first().json.id,\n  p_telefone: $('Edit Fields1').first().json.numCliente,\n  p_resumo: String($('Edit Fields1').first().json.msg ?? '')\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,-976],"id":"e41ca8b0-9f2c-4c8d-a1e0-crmwhatsapp0002","name":"RPC n8n_crm_whatsapp_touch"},{"parameters":{"jsCode":"// Mantém o payload do Get Cliente para o IF seguinte ($json.telefone)\nreturn $('Get Cliente').all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2128,-976],"id":"e41ca8b0-9f2c-4c8d-a1e0-crmwhatsapp0003","name":"CRM reidrata Get Cliente"},{"parameters":{"operation":"get","tableId":"clinics","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Code merge webhook e resolucao').first().json.clinica_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,-1456],"id":"57727933-6690-4e41-a0d5-03990fe2d51e","name":"Get Empresa1","credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"cs_clientes","matchType":"allFilters","filters":{"conditions":[{"keyName":"clinic_id","condition":"eq","keyValue":"={{ $json.id }}"},{"keyName":"telefone","condition":"eq","keyValue":"={{ String($('Edit Fields1').item.json.numCliente || '').split('@')[0].replace(/\\D/g, '') }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"bot_ativo","fieldValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,-1456],"id":"c051c224-d6e2-4935-b6a7-cfccc7469bd7","name":"Update Cliente","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7a35107-43d3-4221-9e23-cbec7d0a7329","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2400,-752],"id":"ab8cccb4-aed4-48c1-8bc5-11dde9b8580d","name":"Verificar se cliente est? cadastrado"},{"parameters":{"tableId":"cs_clientes","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Edit Fields1').item.json.nomeCliente }}"},{"fieldId":"telefone","fieldValue":"={{ String($('Edit Fields1').item.json.numCliente || '').split('@')[0].replace(/\\D/g, '') }}"},{"fieldId":"clinic_id","fieldValue":"={{ $('Get Empresa').item.json.id }}"},{"fieldId":"bot_ativo","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2224,-672],"id":"b0da9dd4-24af-4697-bb8c-a8528c989a2d","name":"Create Cliente","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"13822dc1-3f22-4105-bd78-151817f0786f","leftValue":"={{ $json.bot_ativo }}","rightValue":false,"operator":{"type":"boolean","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1936,-752],"id":"66bb042a-6ba8-4792-a17c-6cd33551a9a3","name":"Bot inativo"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1760,-896],"id":"64cb6775-e605-41b9-aa02-62760f433dd6","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"clinics","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Code merge webhook e resolucao').first().json.clinica_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[432,-1664],"id":"ebd8eb34-fecf-4627-985b-a5422513c136","name":"Get Empresa2","credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"cs_clientes","matchType":"allFilters","filters":{"conditions":[{"keyName":"clinic_id","condition":"eq","keyValue":"={{ $json.id }}"},{"keyName":"telefone","condition":"eq","keyValue":"={{ String($('Edit Fields1').item.json.numCliente || '').split('@')[0].replace(/\\D/g, '') }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"bot_ativo","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,-1664],"id":"d620c05c-dd0b-4d6c-aa48-6392b51db85d","name":"Update Cliente1","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,-1664],"id":"f7f8dc42-e33e-4528-84d7-032a4312ef79","name":"No Operation, do nothing4"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,-1664],"id":"005b63ea-c2fa-4e95-ba0f-c9e3e2b857ad","name":"esperar 10 minutos","webhookId":"4ce3c25b-9ea3-4f4b-b93e-38dee67dc34b"},{"parameters":{"content":"# Reativa bot para o cliente","height":260,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-992,-2400],"typeVersion":1,"id":"492535e8-ccef-4c0b-87ad-f6a627e6a89a","name":"Sticky Note"},{"parameters":{"content":"# Desabilita o bot a intera??o do usu?rio.\n","height":260,"width":780,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-128,-2368],"typeVersion":1,"id":"93e89a87-c332-4df4-af3c-f76e1d32a1e7","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c1e6069-ecc3-4cfe-b95a-613a0561b78f","leftValue":"={{ $json.msg }}","rightValue":"??","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-1568],"id":"ed47e02f-cfec-4c24-8bd8-43f112fef439","name":"Se existe o emoji ??"},{"parameters":{"content":"# Transcreve audio e imagem para texto\n\n","height":580,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[-1552,-1104],"typeVersion":1,"id":"204f2bb0-dd27-4cff-be4a-f61e76f381db","name":"Sticky Note2"},{"parameters":{"content":"# Verificar se cliente est? cadastrado\n","height":580,"width":840,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-2928,-1104],"typeVersion":1,"id":"da858a47-5aef-4c4e-a2a9-72ac03675cd3","name":"Sticky Note6"},{"parameters":{"content":"# verificar o bot\n","height":580,"width":460,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2048,-1104],"typeVersion":1,"id":"58dcc4d9-4ea3-4915-9236-ef95a15cae78","name":"Sticky Note7"},{"parameters":{"content":"# Coletar os dados\n","height":448,"width":996,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3920,-1712],"typeVersion":1,"id":"8b53977c-949e-4cca-bd98-f57c0452a3cf","name":"Sticky Note8"},{"parameters":{"content":"## Atendimento Ia ou Empresa\n","height":320},"type":"n8n-nodes-base.stickyNote","position":[-976,-1984],"typeVersion":1,"id":"24cc42c6-dc55-4ecd-9449-807ee78c16e0","name":"Sticky Note9"},{"parameters":{"content":"# Ativar ou Desabilitar o bot\n","height":260,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-624,-1936],"typeVersion":1,"id":"4b20ea78-be03-44c5-9ca1-c5281c4e813a","name":"Sticky Note10"},{"parameters":{"operation":"get","propertyName":"Mensagem","key":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-128,-832],"id":"3a4baf91-403a-4d1b-8f36-ab134d4ab0ee","name":"BuscaMensagens","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"operation":"push","list":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","messageData":"={{ JSON.stringify($json) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-304,-832],"id":"07399ddf-f469-4a94-b308-883e9aaad9c5","name":"RegistraMsgFila","alwaysOutputData":false,"credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"69ae624a-c135-4d58-b36c-94a66271b12d","leftValue":"={{ $json.Mensagem.length }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,-832],"id":"2e9ce1d4-e890-44b3-8463-69ad3d5015e0","name":"VerificaSe?MaiorQue1"},{"parameters":{"operation":"get","propertyName":"Mensagens","key":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[480,-832],"id":"1d1ca184-fbfc-411b-b02d-5e8c3956d15b","name":"VerificaMensagens","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"operation":"delete","key":"=558193794747@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[576,-1040],"id":"757434ba-4b45-4763-9984-9ce2deb89d95","name":"Redis1","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"assignments":{"assignments":[{"id":"56d366b6-65c5-46aa-9fd8-849c56a25e7a","name":"Mensagens","value":"={{ $json.Mensagens.reverse().join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,-832],"id":"9676dff8-8eff-4338-af5f-9ae5f3d27afb","name":"OrganizaMensagem"},{"parameters":{"operation":"delete","key":"={{ $('Webhook').first().json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[832,-672],"id":"cd461e6f-56b8-4905-84f4-ed0cd140a613","name":"ResetaFila","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[288,-1024],"id":"edd23c0d-147b-4628-bc56-ad602389c9e6","name":"N?o faz nada, j? tem mensagem processando"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[288,-832],"id":"6816804e-ffc1-4049-9b51-ce85118f3313","name":"Aguarda 13 segundos","webhookId":"0917c991-996a-428c-b7e9-2f046aec9e9f"},{"parameters":{"fieldToSplitOut":"answer","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1728,-336],"id":"7c811de3-7bc3-4f2e-a8fa-3a354c056c2e","name":"Quebra a mensagem em v?rias mensagens"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1056,-208],"id":"9a611fb7-abdf-45f0-a602-ad33842576a7","name":"Separa 1 mensagem para enviar"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Repete","typeVersion":1,"position":[64,-176],"id":"460901cd-9923-4101-aa4b-b3f4d1a89fb0"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,-416],"id":"275b01b5-2040-41ac-bc1c-0b3cd42dab7e","name":"Aguarda 1 segundo","webhookId":"cdea2655-5b47-4805-9710-b97df84ae05c"},{"parameters":{"method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendText/' + ($json._tenant?.instance_name || $('Edit Fields1').first().json.instanceName || '') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"14027fe51ef29cdee722fffcd46c94bc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $('Edit Fields1').first().json.numCliente, text: $('Separa 1 mensagem para enviar').item.json.answer, delay: 1800 }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-176],"id":"7c3e8e4c-4f61-4820-acc3-9c5f50df3451","name":"Evolution API"},{"parameters":{"content":"# Passo 03: Cria Fila de Mensagens","height":580,"width":1400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-384,-1104],"typeVersion":1,"id":"d489f193-516e-4b46-beac-049eb060db5f","name":"Sticky Note12"},{"parameters":{"content":"# Passo 04: Processa Resposta do Agente + Tools de Agendamento","height":476,"width":1600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2944,-448],"typeVersion":1,"id":"f767a407-7ebb-41e4-ac0c-3ed5fdc27e52","name":"Sticky Note13"},{"parameters":{"content":"# Passo 05: Envia Resposta para o Cliente","height":520,"width":1640,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1280,-464],"typeVersion":1,"id":"dfa7d0dd-57f5-4b40-a5be-64f3b7176853","name":"Sticky Note14"},{"parameters":{"content":"# ?? Cl?nica Sa?de - Tools (RPC Supabase)\ncs_buscar_agendamentos | cs_consultar_vagas | cs_consultar_servicos | cs_agendar | cs_reagendar | cs_cancelar","height":408,"width":1340,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2672,64],"typeVersion":1,"id":"6c00795b-a6d0-45c2-96b0-1f6f84cecf18","name":"Sticky Note Agendamento"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"b2796cb1-10e0-4b9d-9a67-466b18af40ec"}],"combinator":"and"},"renameOutput":true,"outputKey":"?udio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c018a87-f1c7-4136-bf4e-f3ef41dfbcc8","leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8f4e2aa1-3c0d-4e1b-9a00-ef0000000001","leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af57697f-18ed-4e0f-ae46-8c897ed420e8","leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1344,-864],"id":"06e56fa5-a6ea-4562-94bb-b07c94c5c9ae","name":"Verifica se ? Image, Texto ou ?udio1","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d901a100-0001-4000-8000-0000000000b1","leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1168,-1024],"id":"571b5288-3294-4982-9417-8ab579dae06b","name":"? realmente ?udio?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d901a100-0002-4000-8000-0000000000b2","leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,-704],"id":"db8bfdcd-d2af-419d-94cb-e8e370fcbc73","name":"? realmente imagem?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-928,-864],"id":"c6fdfa76-68b6-447f-bce4-fbad27c383e2","name":"No Op - IF m?dia ? texto"},{"parameters":{"assignments":{"assignments":[{"id":"cbeb5f2a-a70d-40b3-9814-2c6e51ca7326","name":"base64","value":"={{ $('A Empresa Assumiu o Atendimento?').item.json.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1008,-704],"id":"4fb2c269-5702-4213-8358-be01ffb4ae82","name":"Pega o base64 da imagem1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-800,-704],"id":"4949c83a-1e1a-4e9c-a891-917eeef63822","name":"Baixa a imagem1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"O que h? nessa imagem? me de a resposta como se fosse um cliente descrevendo na imagem, comece dizendo: te enviei uma imagem que... Sempre em primeira pessoa, como se voc? voc? o cliente. Ao inv?s de dizer voc? me enviou, diga eu te enviei.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-624,-704],"id":"da9a61f7-5ff4-4e3e-b98a-dbb256a46b68","name":"Descreve o que est? na imagem1","credentials":{"openAiApi":{"id":"v4dQPWdlMtUeGSD3","name":"OpenAi clinicas"}}},{"parameters":{"method":"POST","url":"={{ `https://evo.plataformabot.top/chat/getBase64FromMediaMessage/${$('Edit Fields1').first().json.instanceName || $env.EVOLUTION_INSTANCE || 'tvmundo'}` }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { id: $('Edit Fields1').item.json.msgID, remoteJid: $('Edit Fields1').item.json.numCliente, fromMe: $('Edit Fields1').item.json.fromMe } }, convertToMp4: true }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,-1024],"id":"ffd08dd1-cfd8-4f99-812e-5ac6367c904b","name":"HTTP Request1","alwaysOutputData":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-624,-1024],"id":"3e8c7bb9-51aa-4c69-a80d-f216cdf16fa2","name":"Transcreve1","credentials":{"openAiApi":{"id":"v4dQPWdlMtUeGSD3","name":"OpenAi clinicas"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-800,-1024],"id":"8124268e-5c81-451b-b5ed-5252828833af","name":"Convert to File3"},{"parameters":{"assignments":{"assignments":[{"id":"ea5e28bf-fc6b-410d-a4d5-177b7f96643a","name":"answer","value":"={{ [$json.output.trim()] }}","type":"array"},{"id":"1ad85eae-f84d-471b-8a99-24e327318a1e","name":"conversation_id","value":"={{ $('Edit Fields2').item.json.ConversationID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,-336],"id":"7f488dae-0e0d-4678-8692-e6506b4fd50d","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-656,-368],"id":"2a41c131-9b6e-4aac-97cd-c6482f39f4a3","name":"No Operation, do nothing5"},{"parameters":{"assignments":{"assignments":[{"id":"f4619dc7-e0fc-4a5a-a14e-b059dbfdddba","name":"mensagem","value":"={{ $json.Mensagens }}","type":"string"},{"id":"65710ade-31f6-4569-84c7-e6acdd3cf3b2","name":"body.data.key.remoteJid","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2848,-336],"id":"ae338679-07fb-4488-b37b-c0a8294f2344","name":"Edit Fields2"},{"parameters":{"httpMethod":"POST","path":"a9a0aa31-2d90-45ad-8da2-536c499768d8","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3888,-1536],"id":"5168940c-6294-4916-bb16-dbb3c1fde6fc","name":"Webhook","webhookId":"a9a0aa31-2d90-45ad-8da2-536c499768d8"},{"parameters":{"jsCode":"const item = { ...$input.first().json };\n// NOTA: Set node v3.4 dropa o body original, usar campos do Edit Fields1 diretamente\nfunction digits(s) {\n  return String(s ?? '').replace(/[^0-9]/g, '');\n}\n// Evento vem de item.event (setado pelo Edit Fields1 de body.event)\nconst rawEvent = item.event || '';\nlet event = String(rawEvent).trim().split('.').join('_').split('-').join('_').toUpperCase();\nif (!event && item.numCliente) event = 'MESSAGES_UPSERT';\n\n// instance_name vem de item.instanceName (setado pelo Edit Fields1 de body.instance)\nconst instance_name = String(item.instanceName || item.instanceId || '').trim();\n\n// numero_clinica vem de item.numEmpresa (setado pelo Edit Fields1 de body.sender), so digitos\nconst numero_clinica = digits(item.numeroClinica || item.numEmpresa || '');\n\nconst whSrc = item._wh_source === 'test' ? 'test' : 'prod';\nconst _tenant = { event, instance_name, numero_clinica, wh_source: whSrc };\nreturn [{ json: { ...item, _tenant } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3232,-1536],"id":"68c1aaa6-daf3-4598-98c0-481d9cf75067","name":"Code Normalizar Evolution Clinica"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-msg-1","leftValue":"={{ $json._tenant.event }}","rightValue":"MESSAGES_UPSERT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3040,-1536],"id":"b9c6ada6-b608-473c-8fbc-0341ae60a060","name":"IF evento e mensagem"},{"parameters":{"method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_resolve_clinic' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_instance_name: $json._tenant.instance_name || '', p_numero_clinica: $json._tenant.numero_clinica || '' }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2752,-1680],"id":"73a2a3b1-8a8a-4fb7-8cdc-de3573ce8200","name":"HTTP RPC n8n_resolve_clinic","continueOnFail":true},{"parameters":{"jsCode":"const base = $('Code Normalizar Evolution Clinica').first().json;\nconst raw = $input.first().json;\nconst row = Array.isArray(raw) ? (raw[0] ?? {}) : raw;\nconst cenario =\n  row.cenario ||\n  (raw && typeof raw === 'object' && !Array.isArray(raw) && raw.message ? 'clinica_nao_encontrada' : null) ||\n  'clinica_nao_encontrada';\nreturn [{ json: { ...base, ...row, cenario } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2560,-1680],"id":"ff56c25c-24f0-49bf-8244-2be225908afa","name":"Code merge webhook e resolucao"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sw-1","leftValue":"={{ $json.cenario }}","rightValue":"clinica_nao_encontrada","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"clinica_nao_encontrada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sw-2","leftValue":"={{ $json.cenario }}","rightValue":"teste_expirado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"teste_expirado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sw-3","leftValue":"={{ $json.cenario }}","rightValue":"mensal_expirado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"plano_expirado_ou_inadimplente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sw-4","leftValue":"={{ $json.cenario }}","rightValue":"ativo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ativo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2368,-1728],"id":"6121ead0-30ee-4de0-a7a0-6b0c9e6eb024","name":"Switch assinatura e acesso"},{"parameters":{"method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendText/' + ($json._tenant.instance_name || $env.EVOLUTION_INSTANCE || '') }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: String(($json.body.data.key.remoteJid || '').split('@')[0]).replace(/\\D/g, ''), text: 'Seu periodo de teste deste consultorio expirou. Entre em contacto com o suporte para continuar.' }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1968,-1968],"id":"70e14b87-e6bb-4c15-9be5-52baed6046a4","name":"HTTP aviso teste expirado","credentials":{"evolutionApi":{"id":"Imygiuu6SHaoHNMn","name":"Evolution account felipe"}},"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendText/' + ($json._tenant.instance_name || $env.EVOLUTION_INSTANCE || '') }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: String(($json.body.data.key.remoteJid || '').split('@')[0]).replace(/\\D/g, ''), text: 'A assinatura deste consultorio esta inativa ou em atraso. Regularize o pagamento para voltar a usar o atendimento automatico.' }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1840,-1744],"id":"b853c925-d6e5-419f-9532-d05113954ac8","name":"HTTP aviso mensal bloqueado","credentials":{"evolutionApi":{"id":"Imygiuu6SHaoHNMn","name":"Evolution account felipe"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1b2c3d4-5e6f-7890-abcd-ef1234567011-c","leftValue":"={{ $('Code merge webhook e resolucao').first().json._tenant.wh_source }}","rightValue":"test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2000,-2160],"id":"7d07bfdc-3727-4595-80b8-3493c5b854d9","name":"IF webhook de teste bloqueio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1b2c3d4-5e6f-7890-abcd-ef1234567012-c","leftValue":"={{ $('Code merge webhook e resolucao').first().json._tenant.wh_source }}","rightValue":"test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1792,-1968],"id":"fb91a942-173b-4944-847b-990d70540029","name":"IF webhook de teste bloqueio te"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1b2c3d4-5e6f-7890-abcd-ef1234567013-c","leftValue":"={{ $('Code merge webhook e resolucao').first().json._tenant.wh_source }}","rightValue":"test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1568,-1728],"id":"8a84e502-2b46-4fa0-a6bd-08af31665a45","name":"IF webhook de teste bloqueio me"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-t-4","leftValue":"={{ $json._tenant.wh_source }}","rightValue":"test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1824,-1360],"id":"afd0ac9e-5943-40ff-8f1c-75e79ca05682","name":"IF webhook de teste ativo"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, motivo: $('Code merge webhook e resolucao').first().json.cenario, clinica_id: $('Code merge webhook e resolucao').first().json.clinica_id, detalhe: 'Clinica nao encontrada ou ambigua.' }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1632,-2320],"id":"0e0eec21-d5d9-4262-b228-16d8b89e227c","name":"Respond webhook teste bloqueado"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, motivo: $('Code merge webhook e resolucao').first().json.cenario, clinica_id: $('Code merge webhook e resolucao').first().json.clinica_id }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1488,-2000],"id":"c50aad26-263c-478f-98d4-7ae7039f8a74","name":"Respond webhook teste bloqueado te"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, motivo: $('Code merge webhook e resolucao').first().json.cenario, clinica_id: $('Code merge webhook e resolucao').first().json.clinica_id }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1280,-1712],"id":"20cd4f00-9bf8-4b35-a685-8bc885d19ae2","name":"Respond webhook teste bloqueado me"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, motivo: 'ativo', clinica_id: $json.clinica_id, cenario: $json.cenario }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1536,-1456],"id":"fbc4e114-0f4d-40d5-b6bf-c7773da91e5b","name":"Respond webhook teste ativo"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2784,-1440],"id":"444bb561-1e48-41f5-9791-bf6bc5b97a53","name":"NoOp demais eventos Evolution"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-igr-1","leftValue":"={{ $json._tenant.wh_source }}","rightValue":"test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2576,-1440],"id":"be93228d-7998-425d-8650-f9408808f8ef","name":"IF teste apos ignorar evento"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, ignorado: true, evento: $json._tenant.event, motivo: 'evento_nao_mensagem' }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-2288,-1456],"id":"7c4a13ac-5337-4147-8be6-df09a2e5d5cc","name":"Respond webhook teste ignorado"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1632,-2144],"id":"600d5e6c-11a0-4d2d-8f47-3c033f7fad5a","name":"NoOp fim producao bloqueado"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1280,-1856],"id":"82e091fd-c852-45ac-a36a-a04fe51752ac","name":"NoOp fim producao bloqueado te"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1280,-1568],"id":"61a2f786-e6cf-4723-95aa-353f0549d187","name":"NoOp fim producao bloqueado me"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Você é {{ $json.nome_agente || 'Assistente' }}, atendente virtual {{ $json.clinic_name ? 'da ' + $json.clinic_name : 'da clínica' }}. Data/Hora atual: {{ $now.format('dd/MM/yyyy HH:mm') }}\nTelefone do cliente (use nas tools como p_telefone): {{ $('Webhook').first().json.body.data.key.remoteJid }}\n\n## IDENTIDADE\nVocê é {{ $json.nome_agente || 'Assistente' }}, atendente virtual simpática e profissional {{ $json.clinic_name ? 'da ' + $json.clinic_name : 'da clínica' }}. Responda sempre em português, de forma clara, objetiva e acolhedora.\n\n\n## FORMATAÇÃO DAS RESPOSTAS\nNUNCA escreva listas em linha corrida com \"e\" ou vírgulas.\nSEMPRE use quebra de linha para cada item da lista.\n\n✅ CORRETO:\nTemos os seguintes profissionais:\nDr. Joao Lucas (Dentista)\nDra. Maria Letícia (Dentista).\n\nGostaria de escolher algum deles?\n\n❌ ERRADO:\nTemos os profissionais Dr. Joao Lucas e Dra. Maria Letícia, ambos dentistas.\n\nEsta regra vale para listas de: profissionais, procedimentos, horários e agendamentos.\n\n## FERRAMENTAS DISPONÍVEIS\n| Tool | Quando usar |\n|---|---|\n| cs_consultar_servicos | Listar procedimentos e obter id, nome, preço, desconto e parcelamento |\n| cs_consultar_profissionais | Listar profissionais ativos e especialidades |\n| cs_consultar_vagas | Listar horários disponíveis de um dia específico — SEMPRE pergunte a data ao cliente antes de chamar |\n| cs_agendar | Criar agendamento após confirmação do cliente |\n| cs_buscar_agendamentos | Consultar agendamentos existentes do cliente |\n| cs_reagendar | Alterar data/horário de agendamento existente |\n| cs_cancelar | Cancelar agendamento após confirmação explícita |\n\n## INFORMAÇÕES DE PREÇO\ncs_consultar_servicos retorna os campos abaixo:\n- **preco_a_vista_brl**: preço à vista em R$ (pode ser nulo — não cadastrado)\n- **valor_brl**: preço tabela/referência em R$ (pode ser nulo — não cadastrado)\n- **tem_desconto**: se há desconto\n- **desconto_percentual**: % de desconto aplicado\n- **cartao_parcelas_max**: número máximo de parcelas no cartão (nulo = à combinar)\n\n⚠️ REGRAS SOBRE PREÇO:\n- Informe o valor SOMENTE se o cliente perguntar diretamente sobre preço, valor ou custo\n- Se o cliente NÃO perguntar sobre preço: liste apenas os procedimentos disponíveis, SEM mencionar valores, SEM dizer que o preço não foi informado\n- Se o cliente perguntar e os campos de preço estiverem nulos: responda \"O valor deste procedimento não foi informado pela clínica. Recomendo confirmar diretamente com a equipe.\"\n\nExemplo quando o cliente pergunta: \"O Clareamento custa R$ 400,00 à vista, com 10% de desconto, e pode parcelar em até 4x no cartão.\"\nExemplo quando não tem preço cadastrado: \"Temos o procedimento de Clareamento disponível. O valor não foi informado pela clínica — recomendo confirmar diretamente com a equipe.\"\n\n## FLUXO DE AGENDAMENTO\n1. Pergunte qual serviço o cliente deseja\n2. Chame cs_consultar_servicos — guarde o id como servico_id; informe o preço SOMENTE se o cliente perguntar sobre valor\n3. Chame cs_consultar_profissionais e mostre a lista; pergunte qual profissional o cliente prefere\n4. Pergunte o **nome completo** do cliente — nunca use o nome do WhatsApp\n5. Pergunte para qual **data** e **horário** o cliente prefere (ex: \"Para qual dia e horário você prefere?\")\n6. Chame cs_consultar_vagas passando a data_solicitada em YYYY-MM-DD\n   - Se o horário pedido estiver disponível: confirme direto\n   - Se não estiver disponível: mostre os horários livres daquele dia e peça ao cliente escolher\n7. Confirme: nome, serviço, profissional, data e horário\n8. Chame cs_agendar com:\n   - nome_cliente: nome completo informado pelo cliente\n   - telefone_cliente: telefone do sistema\n   - servico_id: UUID de cs_consultar_servicos\n   - profissional_id: UUID de cs_consultar_vagas\n   - data: converta dd/MM/yyyy → YYYY-MM-DD (ex: 30/03/2026 → 2026-03-30)\n   - horario: HH:MM\n9. Confirme o agendamento com resumo claro\n\n## FLUXO DE CANCELAMENTO / REAGENDAMENTO\n1. Chame cs_buscar_agendamentos para ver os agendamentos do cliente\n2. Mostre os agendamentos e pergunte qual quer alterar/cancelar\n3. Para cancelar: peça confirmação explícita antes de chamar cs_cancelar\n4. Para reagendar: consulte cs_consultar_vagas, confirme e chame cs_reagendar\n\n## REGRAS IMPORTANTES\n- Sempre pergunte o nome completo antes de agendar — nunca use o nome do WhatsApp\n- Os preços vêm de cs_consultar_servicos — informe APENAS se o cliente perguntar sobre valor/custo; se não houver preço cadastrado, avise que a clínica não informou e sugira contato direto\n- Nunca cancele ou reagende sem confirmação explícita do cliente\n- Nunca invente horários, preços ou procedimentos\n- Se não houver vagas, informe e sugira outra data\n- Responda de forma concisa — máximo 3 a 5 linhas por mensagem\n\n## SAUDAÇÃO INICIAL\nSe for o primeiro contato (sem histórico), cumprimente com:\n\"Olá! Sou {{ $json.nome_agente || 'o assistente virtual' }}, atendente {{ $json.clinic_name ? 'da ' + $json.clinic_name : 'da clínica' }}. Como posso te ajudar hoje?\"\n\n{{ $json.agent_instructions ? '## INSTRUÇÕES ESPECÍFICAS DA CLÍNICA' + String.fromCharCode(10) + $json.agent_instructions : '' }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2352,-336],"id":"e827d29e-43f1-4050-b76c-7015028a1a54","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"5dc53d5f-d070-433e-8d04-338c0fb42de0","name":"msg","value":"={{ $('Edit Fields1').item.json.msg }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,-864],"id":"9da6a493-36ab-4b8f-a708-eb26441be79d","name":"Edit Fields3"},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela n?o obter? novas informa??es nem alterar? o banco de dados, apenas adicionar? o pensamento ao registro. Use-a quando for necess?rio um racioc?nio complexo ou alguma mem?ria em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-2608,-128],"id":"64543dd2-6308-4f7d-a767-874bd0d326e5","name":"Refletir1"},{"parameters":{"toolDescription":"Envia uma mensagem de rea??o como resposta a uma mensagem do usu?rio. Rea??o ? sempre um emoji.","method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendReaction/' + ($('Edit Fields1').first().json.instanceName || $env.EVOLUTION_INSTANCE || 'tvmundo') }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Edit Fields1').first().json.numCliente }}\",\n    \"fromMe\": {{ $('Webhook').first().json.body.data.key.fromMe }},\n    \"id\": \"{{ $('Webhook').first().json.body.data.key.id }}\"\n  },\n  \"reaction\": \"{reacao}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2480,-128],"id":"237bccd8-e6dd-4066-9059-bd64ab46401e","name":"Reagir mensagem1","credentials":{"evolutionApi":{"id":"Imygiuu6SHaoHNMn","name":"Evolution account felipe"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"pass-all-1","leftValue":"={{ 1 }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1168,-1328],"id":"77962412-e2bd-41a3-a398-b533a27eec3e","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1861fc2-7c83-476d-9d32-a11ed739f786","leftValue":"={{ $json.answer }}","rightValue":"https","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-528,-176],"id":"24555f4d-a6ef-49e4-bf7c-4a065bc32b20","name":"If"},{"parameters":{"method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendMedia/' + ($json._tenant?.instance_name || $('Edit Fields1').first().json.instanceName || '') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"14027fe51ef29cdee722fffcd46c94bc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $('Edit Fields1').first().json.numCliente, mediatype: 'image', media: $json.imagem }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-448],"id":"b7344659-d35e-41d1-a0ca-d402687e8f88","name":"Evolution API1"},{"parameters":{"jsCode":"return items.map(item => {\n  const texto = item.json.answer || '';\n  const match = texto.match(/https?:\\/\\/[^\\s]+?\\.(jpg|jpeg|png|gif)(\\?[^\\s]*)?/i);\n\n  return {\n    json: {\n      imagem: match ? match[0] : null\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,-288],"id":"18693641-d1f2-432b-8609-c1afbf59f2e8","name":"Code"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code merge webhook e resolucao').first().json.clinica_id + ':' + $('Webhook').first().json.body.data.key.remoteJid }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2736,-128],"id":"cfb82700-e4e8-4fd6-b2a3-b2b9df3b64cc","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"et3QrDBkKSd0EwRF","name":"Postgres clinica"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2896,-128],"id":"54be6cad-fe64-41a5-8c26-3faa6a061d7d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"v4dQPWdlMtUeGSD3","name":"OpenAi clinicas"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[-752,-176],"id":"077bcd76-7a15-41f2-83e0-3302b01ddbff"},{"parameters":{"toolDescription":"Busca agendamentos ativos pelo telefone WhatsApp (remoteJid). Retorna id, profissional_id, data_iso (YYYY-MM-DD), horario (HH:MM), servi?o e profissional. Use antes de reagendar ou cancelar.","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_cs_buscar_agendamentos' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_telefone\": \"{telefone}\",\n  \"p_clinic_id\": \"={{ $('Code merge webhook e resolucao').first().json.clinica_id }}\"\n}","placeholderDefinitions":{"values":[{"name":"telefone","description":"Telefone WhatsApp completo (ex.: 5581999990000@s.whatsapp.net). Use o mesmo do Webhook.","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2624,304],"id":"ab1b10ce-6d71-4d88-b0e6-520c2b7754c0","name":"cs_buscar_agendamentos","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Lista horários disponíveis de um dia específico. Antes de chamar esta tool, SEMPRE pergunte ao cliente a data desejada. Passe data_solicitada em formato YYYY-MM-DD (ex: 2026-04-15). Retorna: horario_id, data (dd/MM/yyyy), horario (HH:MM), profissional, profissional_id. Use o profissional_id retornado aqui em cs_agendar.","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_cs_consultar_vagas' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ '{\"p_clinic_id\":\"' + $('Code merge webhook e resolucao').first().json.clinica_id + '\",\"p_data\":\"{data_solicitada}\"}' }}","placeholderDefinitions":{"values":[{"name":"data_solicitada","description":"Data desejada pelo cliente no formato YYYY-MM-DD (ex: 2026-04-15). Converta de dd/MM/yyyy se necessário.","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2432,304],"id":"67746a1b-555b-44c7-978e-4f2830c60105","name":"cs_consultar_vagas","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Lista os procedimentos/servi?os ativos cadastrados pela cl?nica (id, nome, descri??o, dura??o). O campo \"id\" retornado ? o servico_id a usar em cs_agendar. Chame quando o cliente perguntar o que a cl?nica oferece, ou para obter o servico_id antes de agendar.","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_clinic_procedimentos' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_clinic_id: $('Code merge webhook e resolucao').first().json.clinica_id }) }}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2240,304],"id":"f9d8a601-75b2-4b85-8f0d-c24520e76664","name":"cs_consultar_servicos","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Cria agendamento ap?s confirma??o expl?cita do cliente. OBRIGAT?RIO antes de chamar: 1) chame cs_consultar_servicos para obter o servico_id do servi?o escolhido; 2) converta a data de dd/MM/yyyy (retornada por cs_consultar_vagas) para YYYY-MM-DD; 3) horario no formato HH:MM; 4) use o nome do cliente da conversa em nome_cliente; 5) telefone j? est? no sistema. Par?metros: nome_cliente, telefone_cliente, profissional_id (UUID de cs_consultar_vagas), servico_id (UUID de cs_consultar_servicos), data (YYYY-MM-DD), horario (HH:MM), observacoes.","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_cs_agendar' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"p_nome_cliente\": \"{nome_cliente}\",\n  \"p_telefone\": \"{telefone_cliente}\",\n  \"p_profissional_id\": \"{profissional_id}\",\n  \"p_servico_id\": \"{servico_id}\",\n  \"p_data\": \"{data}\",\n  \"p_horario\": \"{horario}\",\n  \"p_observacoes\": \"{observacoes}\"\n}","placeholderDefinitions":{"values":[{"name":"nome_cliente","description":"Nome do cliente (vem do sistema)","type":"string"},{"name":"telefone_cliente","description":"Telefone WhatsApp completo (remoteJid)","type":"string"},{"name":"profissional_id","description":"UUID do profissional (tool vagas)","type":"string"},{"name":"servico_id","description":"UUID do servi?o (tool servi?os)","type":"string"},{"name":"data","description":"Data YYYY-MM-DD","type":"string"},{"name":"horario","description":"Hora HH:MM","type":"string"},{"name":"observacoes","description":"Observa??es ou string vazia","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2048,304],"id":"6ac9d0e5-149f-4e6a-8164-04a4544cf4d8","name":"cs_agendar","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Reagenda consulta existente ap?s confirma??o. profissional_antigo_id, data_antiga e horario_antigo v?m de cs_buscar_agendamentos; novo slot das vagas dispon?veis.","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_cs_reagendar' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_agendamento_id\": \"{agendamento_id}\",\n  \"p_nova_data\": \"{nova_data}\",\n  \"p_novo_horario\": \"{novo_horario}\",\n  \"p_novo_profissional_id\": \"{novo_profissional_id}\",\n  \"p_profissional_antigo_id\": \"{profissional_antigo_id}\",\n  \"p_data_antiga\": \"{data_antiga}\",\n  \"p_horario_antigo\": \"{horario_antigo}\"\n}","placeholderDefinitions":{"values":[{"name":"agendamento_id","description":"UUID do agendamento","type":"string"},{"name":"nova_data","description":"Nova data YYYY-MM-DD","type":"string"},{"name":"novo_horario","description":"Novo hor?rio HH:MM","type":"string"},{"name":"novo_profissional_id","description":"UUID do profissional do novo slot","type":"string"},{"name":"profissional_antigo_id","description":"UUID profissional atual (da busca)","type":"string"},{"name":"data_antiga","description":"Data atual YYYY-MM-DD (da busca)","type":"string"},{"name":"horario_antigo","description":"Hor?rio atual HH:MM (da busca; usar HH:MM mesmo que a busca mostre HH:MM)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1856,304],"id":"8e8e0859-8158-4748-a251-cbfa72beb01b","name":"cs_reagendar","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Cancela consulta ap?s confirma??o expl?cita. profissional_id, data (YYYY-MM-DD) e horario (HH:MM) devem ser os do agendamento cancelado (cs_buscar_agendamentos).","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_cs_cancelar' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_agendamento_id\": \"{agendamento_id}\",\n  \"p_profissional_id\": \"{profissional_id}\",\n  \"p_data\": \"{data}\",\n  \"p_horario\": \"{horario}\",\n  \"p_motivo\": \"{motivo}\"\n}","placeholderDefinitions":{"values":[{"name":"agendamento_id","description":"UUID do agendamento","type":"string"},{"name":"profissional_id","description":"UUID do profissional da consulta","type":"string"},{"name":"data","description":"Data da consulta YYYY-MM-DD","type":"string"},{"name":"horario","description":"Hor?rio HH:MM","type":"string"},{"name":"motivo","description":"Motivo ou \"Cancelado pelo cliente\"","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1664,304],"id":"aaedacaf-88a5-4fdf-8f28-79c3cfb0c914","name":"cs_cancelar","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Lista os profissionais ativos da cl?nica com nome e especialidade. Use sempre que o cliente perguntar sobre m?dicos, dentistas, profissionais, especialistas, doutores, quem atende, com quem pode ser atendido, ou quais profissionais a cl?nica tem.","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/professionals?select=id,name,specialty&is_active=eq.true&order=name.asc&clinic_id=eq.' + $('Code merge webhook e resolucao').first().json.clinica_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1472,304],"id":"38b0cf63-bf3c-48ee-8c0a-e1602bea7972","name":"cs_consultar_profissionais","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/clinics' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"id,name,phone,timezone,agent_instructions"},{"name":"id","value":"={{ 'eq.' + $('Code merge webhook e resolucao').first().json.clinica_id }}"}]},"options":{}},"id":"78eade60-d7f1-42db-84ea-bd70114b3e7c","name":"Buscar Config Cl?nica","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2688,-336],"executeOnce":true,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"jsCode":"const row = ($input.first().json[0] || $input.first().json);\nconst rawInstr = row?.agent_instructions;\nconst clinic_name = row?.name || '';\n\nlet agent_instructions = '';\nlet nome_agente = '';\n\nif (rawInstr) {\n  try {\n    const cfg = typeof rawInstr === 'string' ? JSON.parse(rawInstr) : rawInstr;\n    nome_agente = cfg.nome_agente || '';\n    const secoes = [\n      { key: 'identidade', label: 'IDENTIDADE DO AGENTE' },\n      { key: 'triagem',    label: 'TRIAGEM E URGENCIAS' },\n      { key: 'tom',        label: 'TOM E LINGUAGEM' },\n      { key: 'orientacoes',label: 'ORIENTACOES AO PACIENTE' },\n      { key: 'transferir', label: 'QUANDO TRANSFERIR PARA HUMANO' },\n      { key: 'outros',     label: 'OUTRAS INSTRUCOES' },\n    ];\n    agent_instructions = secoes\n      .filter(s => typeof cfg[s.key] === 'string' && cfg[s.key].trim())\n      .map(s => '### ' + s.label + '\\n' + cfg[s.key].trim())\n      .join('\\n\\n');\n  } catch(e) { agent_instructions = String(rawInstr); }\n}\n\nconst mensagem = $('Edit Fields2').first().json.mensagem;\nreturn [{ json: { mensagem, agent_instructions, nome_agente, clinic_name } }];"},"id":"ddcdcb0e-e998-4c40-8f6c-064b3e852df9","name":"Monta Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2528,-336]},{"parameters":{"assignments":{"assignments":[{"id":"ef1-01","name":"numCliente","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"ef1-02","name":"numEmpresa","value":"={{ $json.body.sender }}","type":"string"},{"id":"ef1-03","name":"nomeCliente","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"ef1-04","name":"instanceId","value":"={{ $json.body.data.instanceId }}","type":"string"},{"id":"ef1-05","name":"instanceName","value":"={{ $json.body.instance || $json.body.instanceName || $json.body.data.instanceName || \"\" }}","type":"string"},{"id":"ef1-06","name":"msg","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"ef1-07","name":"msgType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"ef1-08","name":"msgID","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"ef1-09","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"ef1-10","name":"timestamp","value":"={{ $json.body.data.messageTimestamp }}","type":"string"},{"id":"ef1-11","name":"event","value":"={{ $json.body.event ?? \"\" }}","type":"string"},{"id":"ef1-12","name":"numeroClinica","value":"={{ $json.body.numero_clinica ?? $json.body.data.numero_clinica ?? $json.body.sender ?? \"\" }}","type":"string"},{"id":"ef1-13","name":"base64Audio","value":"={{ $json.body.data.message.audioMessage.url ?? \"\" }}","type":"string"},{"id":"ef1-14","name":"base64Image","value":"={{ $json.body.data.message.imageMessage.url ?? \"\" }}","type":"string"},{"id":"ef1-15","name":"intanceIDtelcliente","value":"={{ $json.body.data.instanceId }}{{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"ef1-16","name":"_wh_source","value":"={{ $execution.mode === 'manual' ? 'test' : 'prod' }}","type":"string"}]},"options":{}},"id":"14972553-ed23-487e-80fb-72a863d8b16d","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,-1536]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f59e7243-5b97-4052-87a9-19d85de44f51","leftValue":"558196454656@s.whatsapp.net","rightValue":"={{ $json.body.data.key.remoteJid }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3680,-1536],"id":"2f2bcaff-0887-4a38-a3fd-47f994a98174","name":"Filter1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f59e7243-5b97-4052-87a9-19d85de44f51","leftValue":"558196454656@s.whatsapp.net","rightValue":"={{ $json.body.data.key.remoteJid }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3552,-1184],"id":"1a6e5601-acf6-443c-8e5e-02d3ac4ad5e7","name":"Filter2"},{"id":"wai-n01-save-msg","name":"HTTP Salvar msg inbound","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2464,-1800],"parameters":{"method":"POST","url":"https://xkwdwioawosthwjqijfb.supabase.co/rest/v1/rpc/n8n_save_whatsapp_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  p_clinic_id: $json.clinica_id || '',\n  p_phone:     $json.numCliente  || '',\n  p_body:      String($json.msg  || '').trim(),\n  p_direction: 'inbound'\n}) }}","options":{"response":{"response":{"neverError":true}}}}}],"connections":{"Campos iniciais":{"main":[[{"node":"A Empresa Assumiu o Atendimento?","type":"main","index":0}]]},"A Empresa Assumiu o Atendimento?":{"main":[[{"node":"Get Empresa1","type":"main","index":0}],[{"node":"Get Empresa","type":"main","index":0}]]},"Get Empresa":{"main":[[{"node":"Get Cliente","type":"main","index":0}]]},"Get Cliente":{"main":[[{"node":"CRM Cliente com id?","type":"main","index":0}]]},"Get Empresa1":{"main":[[{"node":"Update Cliente","type":"main","index":0}]]},"Update Cliente":{"main":[[{"node":"esperar 10 minutos","type":"main","index":0}]]},"Verificar se cliente est? cadastrado":{"main":[[{"node":"Bot inativo","type":"main","index":0}],[{"node":"Create Cliente","type":"main","index":0}]]},"Create Cliente":{"main":[[{"node":"Bot inativo","type":"main","index":0}]]},"Bot inativo":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Verifica se ? Image, Texto ou ?udio1","type":"main","index":0}]]},"Get Empresa2":{"main":[[{"node":"Update Cliente1","type":"main","index":0}]]},"Update Cliente1":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"esperar 10 minutos":{"main":[[{"node":"Get Empresa2","type":"main","index":0}]]},"Se existe o emoji ??":{"main":[[{"node":"esperar 10 minutos","type":"main","index":0}],[{"node":"Get Empresa1","type":"main","index":0}]]},"BuscaMensagens":{"main":[[{"node":"VerificaSe?MaiorQue1","type":"main","index":0}]]},"RegistraMsgFila":{"main":[[{"node":"BuscaMensagens","type":"main","index":0}]]},"VerificaSe?MaiorQue1":{"main":[[{"node":"N?o faz nada, j? tem mensagem processando","type":"main","index":0}],[{"node":"Aguarda 13 segundos","type":"main","index":0}]]},"VerificaMensagens":{"main":[[{"node":"OrganizaMensagem","type":"main","index":0}]]},"OrganizaMensagem":{"main":[[{"node":"ResetaFila","type":"main","index":0}]]},"ResetaFila":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Aguarda 13 segundos":{"main":[[{"node":"VerificaMensagens","type":"main","index":0}]]},"Quebra a mensagem em v?rias mensagens":{"main":[[{"node":"Separa 1 mensagem para enviar","type":"main","index":0}]]},"Separa 1 mensagem para enviar":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Repete":{"main":[[{"node":"Separa 1 mensagem para enviar","type":"main","index":0}]]},"Aguarda 1 segundo":{"main":[[{"node":"Repete","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Aguarda 1 segundo","type":"main","index":0}]]},"Verifica se ? Image, Texto ou ?udio1":{"main":[[{"node":"? realmente ?udio?","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"? realmente imagem?","type":"main","index":0}]]},"? realmente ?udio?":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"No Op - IF m?dia ? texto","type":"main","index":0}]]},"? realmente imagem?":{"main":[[{"node":"Pega o base64 da imagem1","type":"main","index":0}],[{"node":"No Op - IF m?dia ? texto","type":"main","index":0}]]},"No Op - IF m?dia ? texto":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Pega o base64 da imagem1":{"main":[[{"node":"Baixa a imagem1","type":"main","index":0}]]},"Baixa a imagem1":{"main":[[{"node":"Descreve o que est? na imagem1","type":"main","index":0}]]},"Descreve o que est? na imagem1":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"Transcreve1":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"Transcreve1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Quebra a mensagem em v?rias mensagens","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Buscar Config Cl?nica","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Reagir mensagem1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Filter":{"main":[[{"node":"Campos iniciais","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Separa 1 mensagem para enviar","type":"main","index":0}]]},"Code":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Replace Me1":{"main":[[{"node":"If","type":"main","index":0}]]},"cs_buscar_agendamentos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_consultar_vagas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_consultar_servicos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_agendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_reagendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_cancelar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_consultar_profissionais":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Buscar Config Cl?nica":{"main":[[{"node":"Monta Contexto","type":"main","index":0}]]},"Monta Contexto":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code Normalizar Evolution Clinica":{"main":[[{"node":"IF evento e mensagem","type":"main","index":0}]]},"IF evento e mensagem":{"main":[[{"node":"HTTP RPC n8n_resolve_clinic","type":"main","index":0}],[{"node":"NoOp demais eventos Evolution","type":"main","index":0}]]},"HTTP RPC n8n_resolve_clinic":{"main":[[{"node":"Code merge webhook e resolucao","type":"main","index":0}]]},"Code merge webhook e resolucao":{"main":[[{"node":"HTTP Salvar msg inbound","type":"main","index":0}]]},"Switch assinatura e acesso":{"main":[[{"node":"IF webhook de teste bloqueio","type":"main","index":0}],[{"node":"HTTP aviso teste expirado","type":"main","index":0}],[{"node":"HTTP aviso mensal bloqueado","type":"main","index":0}],[{"node":"IF webhook de teste ativo","type":"main","index":0}]]},"HTTP aviso teste expirado":{"main":[[{"node":"IF webhook de teste bloqueio te","type":"main","index":0}]]},"HTTP aviso mensal bloqueado":{"main":[[{"node":"IF webhook de teste bloqueio me","type":"main","index":0}]]},"IF webhook de teste bloqueio":{"main":[[{"node":"Respond webhook teste bloqueado","type":"main","index":0}],[{"node":"NoOp fim producao bloqueado","type":"main","index":0}]]},"IF webhook de teste bloqueio te":{"main":[[{"node":"Respond webhook teste bloqueado te","type":"main","index":0}],[{"node":"NoOp fim producao bloqueado te","type":"main","index":0}]]},"IF webhook de teste bloqueio me":{"main":[[{"node":"Respond webhook teste bloqueado me","type":"main","index":0}],[{"node":"NoOp fim producao bloqueado me","type":"main","index":0}]]},"IF webhook de teste ativo":{"main":[[{"node":"Respond webhook teste ativo","type":"main","index":0}],[{"node":"Filter","type":"main","index":0}]]},"Respond webhook teste ativo":{"main":[[{"node":"Filter","type":"main","index":0}]]},"NoOp demais eventos Evolution":{"main":[[{"node":"IF teste apos ignorar evento","type":"main","index":0}]]},"IF teste apos ignorar evento":{"main":[[{"node":"Respond webhook teste ignorado","type":"main","index":0}]]},"CRM Cliente com id?":{"main":[[{"node":"RPC n8n_crm_whatsapp_touch","type":"main","index":0}],[{"node":"Verificar se cliente est? cadastrado","type":"main","index":0}]]},"RPC n8n_crm_whatsapp_touch":{"main":[[{"node":"CRM reidrata Get Cliente","type":"main","index":0}]]},"CRM reidrata Get Cliente":{"main":[[{"node":"Verificar se cliente est? cadastrado","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code Normalizar Evolution Clinica","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Salvar msg inbound":{"main":[[{"node":"Switch assinatura e acesso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.vps7846.panel.icontainer.cloud","x-forwarded-for":"195.201.224.111","x-forwarded-host":"n8n.vps7846.panel.icontainer.cloud","x-real-ip":"195.201.224.111","connection":"keep-alive","x-forwarded-proto":"https","content-length":"2223","accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.13.2","accept-encoding":"gzip, compress, deflate, br"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"clinica-5c8f7a44-c6b3-4835-889b-7e9f9b009125","data":{"key":{"remoteJid":"553193123632-1509247645@g.us","fromMe":false,"id":"ACF717AF45E4E47DFF2A905A1B91CCBD","participant":"105566672306328@lid","participantAlt":"553185144487@s.whatsapp.net","addressingMode":"lid"},"pushName":"TOP DESCONTOS","status":"DELIVERY_ACK","message":{"senderKeyDistributionMessage":{"groupId":"553193123632-1509247645@g.us","axolotlSenderKeyDistributionMessage":{"0":51,"1":8,"2":137,"3":219,"4":198,"5":223,"6":1,"7":16,"8":82,"9":26,"10":32,"11":250,"12":151,"13":212,"14":155,"15":183,"16":29,"17":64,"18":155,"19":35,"20":24,"21":67,"22":151,"23":232,"24":122,"25":72,"26":134,"27":190,"28":13,"29":164,"30":81,"31":93,"32":168,"33":25,"34":139,"35":230,"36":251,"37":32,"38":142,"39":176,"40":3,"41":219,"42":39,"43":34,"44":33,"45":5,"46":217,"47":134,"48":233,"49":202,"50":161,"51":92,"52":190,"53":53,"54":153,"55":91,"56":138,"57":249,"58":45,"59":239,"60":77,"61":242,"62":88,"63":214,"64":218,"65":36,"66":149,"67":140,"68":135,"69":215,"70":178,"71":119,"72":92,"73":101,"74":95,"75":25,"76":75,"77":93}},"messageContextInfo":{"threadId":[],"messageSecret":{"0":190,"1":21,"2":107,"3":128,"4":35,"5":222,"6":217,"7":34,"8":159,"9":71,"10":151,"11":175,"12":167,"13":32,"14":139,"15":134,"16":208,"17":22,"18":188,"19":14,"20":240,"21":29,"22":247,"23":147,"24":234,"25":25,"26":88,"27":24,"28":87,"29":7,"30":175,"31":122}},"conversation":"🔥 Achocolatado Ovomaltine com Flocos Crocantes 750G Profissional\n\n💵 R$ 25 \n\nhttps://www.amazon.com.br/gp/product/B07YBP4X5D/ref=ox_sc_act_image_1?smid=A1ZZFT5FULY4LN&th=1&tag=topdescont037-20"},"contextInfo":{"mentionedJid":[],"groupMentions":[],"statusAttributions":[],"expiration":604800,"disappearingMode":{"initiator":0,"trigger":0}},"messageType":"conversation","messageTimestamp":1775253621,"instanceId":"e65ce50c-aa53-41e3-a7a2-f75ac9cc2e6b","source":"android"},"destination":"https://n8n.vps7846.panel.icontainer.cloud/webhook/a9a0aa31-2d90-45ad-8da2-536c499768d8","date_time":"2026-04-03T19:00:22.162Z","sender":"558193794747@s.whatsapp.net","server_url":"https://evo.plataformabot.top","apikey":"E24A6298-300E-4794-89C8-23783D858B12"},"webhookUrl":"https://n8n.vps7846.panel.icontainer.cloud/webhook/a9a0aa31-2d90-45ad-8da2-536c499768d8","executionMode":"production"}}]},"versionId":"9a8d9696-6760-4dcc-9c55-7db3a548b425","activeVersionId":"9a8d9696-6760-4dcc-9c55-7db3a548b425","versionCounter":296,"triggerCount":1,"shared":[{"updatedAt":"2026-04-01T14:42:18.223Z","createdAt":"2026-04-01T14:42:18.223Z","role":"workflow:owner","workflowId":"kCX2LfxJrdYWB0vk","projectId":"uAo1QnsdxPcf9yBH","project":{"updatedAt":"2026-03-11T17:15:13.273Z","createdAt":"2026-03-11T17:12:05.184Z","id":"uAo1QnsdxPcf9yBH","name":"Felipe da silva <felipeari2007@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d850cd0f-6bfa-4a6d-ab5a-55521cfd6854"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-05T14:33:15.535Z","createdAt":"2026-04-05T14:33:15.535Z","versionId":"9a8d9696-6760-4dcc-9c55-7db3a548b425","workflowId":"kCX2LfxJrdYWB0vk","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"27c8ae71-ffad-47f5-91c7-75162cac0cf8","name":"numCliente","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"e2ad25ce-0378-4f14-8bf1-e875f5470109","name":"numEmpresa","value":"={{ $json.body.sender }}","type":"string"},{"id":"6a85fa66-7841-48ec-8f27-a8d3a2d6b1cb","name":"nomeCliente","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"813ac997-74cd-430c-85e6-59a9d2425df0","name":"instanceId","value":"={{ $json.body.data.instanceId }}","type":"string"},{"id":"5bc22302-7caa-43b8-a16e-3bc4de5742f8","name":"msg","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"a8350725-0ba8-452d-a2f5-ff6d0d56699e","name":"msgType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"66ce231e-1a75-4dc3-a434-b4482d8c2831","name":"msgID","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"0243ab0c-e04b-4adb-b206-f3f93d870ca7","name":"base64","value":"={{ $json.body.data.message.audioMessage.url }}","type":"string"},{"id":"d1f62128-3084-462b-8b18-5f5d57be712f","name":"intanceIDtelcliente","value":"={{ $json.body.data.instanceId }}{{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"07bb24d8-4ff1-4e50-9cfd-6157ca10b72f","name":"id_mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"5635b665-f540-4729-a029-cc10bf7d97d9","name":"timestamp","value":"={{ $json.body.data.messageTimestamp }}","type":"string"},{"id":"91dfda84-51ee-4bce-805a-588fc82ce93c","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,-1328],"id":"fe44522f-b176-432f-a49c-84f44ca6cd98","name":"Campos iniciais"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e546f0c8-e150-45cf-b79f-43240aa06c05","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,-1360],"id":"1fbaa50e-967e-4fc0-8f3a-f15ae04a349f","name":"A Empresa Assumiu o Atendimento?"},{"parameters":{"operation":"get","tableId":"clinics","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Code merge webhook e resolucao').first().json.clinica_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2864,-896],"id":"8f0957df-e9a9-455a-a297-0dcb8313c694","name":"Get Empresa","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"operation":"get","tableId":"cs_clientes","filters":{"conditions":[{"keyName":"clinic_id","keyValue":"={{ $('Get Empresa').item.json.id }}"},{"keyName":"telefone","keyValue":"={{ String($('Edit Fields1').item.json.numCliente || '').split('@')[0].replace(/\\D/g, '') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2688,-896],"id":"7b716a08-98f0-4e63-8e5d-5016ffb1e565","name":"Get Cliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"crm-if-uuid","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2544,-896],"id":"e41ca8b0-9f2c-4c8d-a1e0-crmwhatsapp0001","name":"CRM Cliente com id?"},{"parameters":{"method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_crm_whatsapp_touch' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  p_clinic_id: $('Get Empresa').first().json.id,\n  p_telefone: $('Edit Fields1').first().json.numCliente,\n  p_resumo: String($('Edit Fields1').first().json.msg ?? '')\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,-976],"id":"e41ca8b0-9f2c-4c8d-a1e0-crmwhatsapp0002","name":"RPC n8n_crm_whatsapp_touch"},{"parameters":{"jsCode":"// Mantém o payload do Get Cliente para o IF seguinte ($json.telefone)\nreturn $('Get Cliente').all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2128,-976],"id":"e41ca8b0-9f2c-4c8d-a1e0-crmwhatsapp0003","name":"CRM reidrata Get Cliente"},{"parameters":{"operation":"get","tableId":"clinics","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Code merge webhook e resolucao').first().json.clinica_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,-1456],"id":"57727933-6690-4e41-a0d5-03990fe2d51e","name":"Get Empresa1","credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"cs_clientes","matchType":"allFilters","filters":{"conditions":[{"keyName":"clinic_id","condition":"eq","keyValue":"={{ $json.id }}"},{"keyName":"telefone","condition":"eq","keyValue":"={{ String($('Edit Fields1').item.json.numCliente || '').split('@')[0].replace(/\\D/g, '') }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"bot_ativo","fieldValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,-1456],"id":"c051c224-d6e2-4935-b6a7-cfccc7469bd7","name":"Update Cliente","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7a35107-43d3-4221-9e23-cbec7d0a7329","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2400,-752],"id":"ab8cccb4-aed4-48c1-8bc5-11dde9b8580d","name":"Verificar se cliente est? cadastrado"},{"parameters":{"tableId":"cs_clientes","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Edit Fields1').item.json.nomeCliente }}"},{"fieldId":"telefone","fieldValue":"={{ String($('Edit Fields1').item.json.numCliente || '').split('@')[0].replace(/\\D/g, '') }}"},{"fieldId":"clinic_id","fieldValue":"={{ $('Get Empresa').item.json.id }}"},{"fieldId":"bot_ativo","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2224,-672],"id":"b0da9dd4-24af-4697-bb8c-a8528c989a2d","name":"Create Cliente","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"13822dc1-3f22-4105-bd78-151817f0786f","leftValue":"={{ $json.bot_ativo }}","rightValue":false,"operator":{"type":"boolean","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1936,-752],"id":"66bb042a-6ba8-4792-a17c-6cd33551a9a3","name":"Bot inativo"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1760,-896],"id":"64cb6775-e605-41b9-aa02-62760f433dd6","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"clinics","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Code merge webhook e resolucao').first().json.clinica_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[432,-1664],"id":"ebd8eb34-fecf-4627-985b-a5422513c136","name":"Get Empresa2","credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"cs_clientes","matchType":"allFilters","filters":{"conditions":[{"keyName":"clinic_id","condition":"eq","keyValue":"={{ $json.id }}"},{"keyName":"telefone","condition":"eq","keyValue":"={{ String($('Edit Fields1').item.json.numCliente || '').split('@')[0].replace(/\\D/g, '') }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"bot_ativo","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,-1664],"id":"d620c05c-dd0b-4d6c-aa48-6392b51db85d","name":"Update Cliente1","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"3OLdsDQmEZIdf1QP","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,-1664],"id":"f7f8dc42-e33e-4528-84d7-032a4312ef79","name":"No Operation, do nothing4"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,-1664],"id":"005b63ea-c2fa-4e95-ba0f-c9e3e2b857ad","name":"esperar 10 minutos","webhookId":"4ce3c25b-9ea3-4f4b-b93e-38dee67dc34b"},{"parameters":{"content":"# Reativa bot para o cliente","height":260,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-992,-2400],"typeVersion":1,"id":"492535e8-ccef-4c0b-87ad-f6a627e6a89a","name":"Sticky Note"},{"parameters":{"content":"# Desabilita o bot a intera??o do usu?rio.\n","height":260,"width":780,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-128,-2368],"typeVersion":1,"id":"93e89a87-c332-4df4-af3c-f76e1d32a1e7","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c1e6069-ecc3-4cfe-b95a-613a0561b78f","leftValue":"={{ $json.msg }}","rightValue":"??","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-1568],"id":"ed47e02f-cfec-4c24-8bd8-43f112fef439","name":"Se existe o emoji ??"},{"parameters":{"content":"# Transcreve audio e imagem para texto\n\n","height":580,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[-1552,-1104],"typeVersion":1,"id":"204f2bb0-dd27-4cff-be4a-f61e76f381db","name":"Sticky Note2"},{"parameters":{"content":"# Verificar se cliente est? cadastrado\n","height":580,"width":840,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-2928,-1104],"typeVersion":1,"id":"da858a47-5aef-4c4e-a2a9-72ac03675cd3","name":"Sticky Note6"},{"parameters":{"content":"# verificar o bot\n","height":580,"width":460,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2048,-1104],"typeVersion":1,"id":"58dcc4d9-4ea3-4915-9236-ef95a15cae78","name":"Sticky Note7"},{"parameters":{"content":"# Coletar os dados\n","height":448,"width":996,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3920,-1712],"typeVersion":1,"id":"8b53977c-949e-4cca-bd98-f57c0452a3cf","name":"Sticky Note8"},{"parameters":{"content":"## Atendimento Ia ou Empresa\n","height":320},"type":"n8n-nodes-base.stickyNote","position":[-976,-1984],"typeVersion":1,"id":"24cc42c6-dc55-4ecd-9449-807ee78c16e0","name":"Sticky Note9"},{"parameters":{"content":"# Ativar ou Desabilitar o bot\n","height":260,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-624,-1936],"typeVersion":1,"id":"4b20ea78-be03-44c5-9ca1-c5281c4e813a","name":"Sticky Note10"},{"parameters":{"operation":"get","propertyName":"Mensagem","key":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-128,-832],"id":"3a4baf91-403a-4d1b-8f36-ab134d4ab0ee","name":"BuscaMensagens","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"operation":"push","list":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","messageData":"={{ JSON.stringify($json) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-304,-832],"id":"07399ddf-f469-4a94-b308-883e9aaad9c5","name":"RegistraMsgFila","alwaysOutputData":false,"credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"69ae624a-c135-4d58-b36c-94a66271b12d","leftValue":"={{ $json.Mensagem.length }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,-832],"id":"2e9ce1d4-e890-44b3-8463-69ad3d5015e0","name":"VerificaSe?MaiorQue1"},{"parameters":{"operation":"get","propertyName":"Mensagens","key":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[480,-832],"id":"1d1ca184-fbfc-411b-b02d-5e8c3956d15b","name":"VerificaMensagens","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"operation":"delete","key":"=558193794747@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[576,-1040],"id":"757434ba-4b45-4763-9984-9ce2deb89d95","name":"Redis1","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{"assignments":{"assignments":[{"id":"56d366b6-65c5-46aa-9fd8-849c56a25e7a","name":"Mensagens","value":"={{ $json.Mensagens.reverse().join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,-832],"id":"9676dff8-8eff-4338-af5f-9ae5f3d27afb","name":"OrganizaMensagem"},{"parameters":{"operation":"delete","key":"={{ $('Webhook').first().json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[832,-672],"id":"cd461e6f-56b8-4905-84f4-ed0cd140a613","name":"ResetaFila","credentials":{"redis":{"id":"3sFmEibO1XflRlJC","name":"Redis clinicas"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[288,-1024],"id":"edd23c0d-147b-4628-bc56-ad602389c9e6","name":"N?o faz nada, j? tem mensagem processando"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[288,-832],"id":"6816804e-ffc1-4049-9b51-ce85118f3313","name":"Aguarda 13 segundos","webhookId":"0917c991-996a-428c-b7e9-2f046aec9e9f"},{"parameters":{"fieldToSplitOut":"answer","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1728,-336],"id":"7c811de3-7bc3-4f2e-a8fa-3a354c056c2e","name":"Quebra a mensagem em v?rias mensagens"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1056,-208],"id":"9a611fb7-abdf-45f0-a602-ad33842576a7","name":"Separa 1 mensagem para enviar"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Repete","typeVersion":1,"position":[64,-176],"id":"460901cd-9923-4101-aa4b-b3f4d1a89fb0"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,-416],"id":"275b01b5-2040-41ac-bc1c-0b3cd42dab7e","name":"Aguarda 1 segundo","webhookId":"cdea2655-5b47-4805-9710-b97df84ae05c"},{"parameters":{"method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendText/' + ($json._tenant?.instance_name || $('Edit Fields1').first().json.instanceName || '') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"14027fe51ef29cdee722fffcd46c94bc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $('Edit Fields1').first().json.numCliente, text: $('Separa 1 mensagem para enviar').item.json.answer, delay: 1800 }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-176],"id":"7c3e8e4c-4f61-4820-acc3-9c5f50df3451","name":"Evolution API"},{"parameters":{"content":"# Passo 03: Cria Fila de Mensagens","height":580,"width":1400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-384,-1104],"typeVersion":1,"id":"d489f193-516e-4b46-beac-049eb060db5f","name":"Sticky Note12"},{"parameters":{"content":"# Passo 04: Processa Resposta do Agente + Tools de Agendamento","height":476,"width":1600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2944,-448],"typeVersion":1,"id":"f767a407-7ebb-41e4-ac0c-3ed5fdc27e52","name":"Sticky Note13"},{"parameters":{"content":"# Passo 05: Envia Resposta para o Cliente","height":520,"width":1640,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1280,-464],"typeVersion":1,"id":"dfa7d0dd-57f5-4b40-a5be-64f3b7176853","name":"Sticky Note14"},{"parameters":{"content":"# ?? Cl?nica Sa?de - Tools (RPC Supabase)\ncs_buscar_agendamentos | cs_consultar_vagas | cs_consultar_servicos | cs_agendar | cs_reagendar | cs_cancelar","height":408,"width":1340,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2672,64],"typeVersion":1,"id":"6c00795b-a6d0-45c2-96b0-1f6f84cecf18","name":"Sticky Note Agendamento"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"b2796cb1-10e0-4b9d-9a67-466b18af40ec"}],"combinator":"and"},"renameOutput":true,"outputKey":"?udio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c018a87-f1c7-4136-bf4e-f3ef41dfbcc8","leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8f4e2aa1-3c0d-4e1b-9a00-ef0000000001","leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af57697f-18ed-4e0f-ae46-8c897ed420e8","leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1344,-864],"id":"06e56fa5-a6ea-4562-94bb-b07c94c5c9ae","name":"Verifica se ? Image, Texto ou ?udio1","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d901a100-0001-4000-8000-0000000000b1","leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1168,-1024],"id":"571b5288-3294-4982-9417-8ab579dae06b","name":"? realmente ?udio?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d901a100-0002-4000-8000-0000000000b2","leftValue":"={{ $('Edit Fields1').item.json.msgType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,-704],"id":"db8bfdcd-d2af-419d-94cb-e8e370fcbc73","name":"? realmente imagem?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-928,-864],"id":"c6fdfa76-68b6-447f-bce4-fbad27c383e2","name":"No Op - IF m?dia ? texto"},{"parameters":{"assignments":{"assignments":[{"id":"cbeb5f2a-a70d-40b3-9814-2c6e51ca7326","name":"base64","value":"={{ $('A Empresa Assumiu o Atendimento?').item.json.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1008,-704],"id":"4fb2c269-5702-4213-8358-be01ffb4ae82","name":"Pega o base64 da imagem1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-800,-704],"id":"4949c83a-1e1a-4e9c-a891-917eeef63822","name":"Baixa a imagem1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"text":"O que h? nessa imagem? me de a resposta como se fosse um cliente descrevendo na imagem, comece dizendo: te enviei uma imagem que... Sempre em primeira pessoa, como se voc? voc? o cliente. Ao inv?s de dizer voc? me enviou, diga eu te enviei.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-624,-704],"id":"da9a61f7-5ff4-4e3e-b98a-dbb256a46b68","name":"Descreve o que est? na imagem1","credentials":{"openAiApi":{"id":"v4dQPWdlMtUeGSD3","name":"OpenAi clinicas"}}},{"parameters":{"method":"POST","url":"={{ `https://evo.plataformabot.top/chat/getBase64FromMediaMessage/${$('Edit Fields1').first().json.instanceName || $env.EVOLUTION_INSTANCE || 'tvmundo'}` }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { id: $('Edit Fields1').item.json.msgID, remoteJid: $('Edit Fields1').item.json.numCliente, fromMe: $('Edit Fields1').item.json.fromMe } }, convertToMp4: true }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,-1024],"id":"ffd08dd1-cfd8-4f99-812e-5ac6367c904b","name":"HTTP Request1","alwaysOutputData":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-624,-1024],"id":"3e8c7bb9-51aa-4c69-a80d-f216cdf16fa2","name":"Transcreve1","credentials":{"openAiApi":{"id":"v4dQPWdlMtUeGSD3","name":"OpenAi clinicas"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-800,-1024],"id":"8124268e-5c81-451b-b5ed-5252828833af","name":"Convert to File3"},{"parameters":{"assignments":{"assignments":[{"id":"ea5e28bf-fc6b-410d-a4d5-177b7f96643a","name":"answer","value":"={{ [$json.output.trim()] }}","type":"array"},{"id":"1ad85eae-f84d-471b-8a99-24e327318a1e","name":"conversation_id","value":"={{ $('Edit Fields2').item.json.ConversationID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,-336],"id":"7f488dae-0e0d-4678-8692-e6506b4fd50d","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-656,-368],"id":"2a41c131-9b6e-4aac-97cd-c6482f39f4a3","name":"No Operation, do nothing5"},{"parameters":{"assignments":{"assignments":[{"id":"f4619dc7-e0fc-4a5a-a14e-b059dbfdddba","name":"mensagem","value":"={{ $json.Mensagens }}","type":"string"},{"id":"65710ade-31f6-4569-84c7-e6acdd3cf3b2","name":"body.data.key.remoteJid","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2848,-336],"id":"ae338679-07fb-4488-b37b-c0a8294f2344","name":"Edit Fields2"},{"parameters":{"httpMethod":"POST","path":"a9a0aa31-2d90-45ad-8da2-536c499768d8","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3888,-1536],"id":"5168940c-6294-4916-bb16-dbb3c1fde6fc","name":"Webhook","webhookId":"a9a0aa31-2d90-45ad-8da2-536c499768d8"},{"parameters":{"jsCode":"const item = { ...$input.first().json };\n// NOTA: Set node v3.4 dropa o body original, usar campos do Edit Fields1 diretamente\nfunction digits(s) {\n  return String(s ?? '').replace(/[^0-9]/g, '');\n}\n// Evento vem de item.event (setado pelo Edit Fields1 de body.event)\nconst rawEvent = item.event || '';\nlet event = String(rawEvent).trim().split('.').join('_').split('-').join('_').toUpperCase();\nif (!event && item.numCliente) event = 'MESSAGES_UPSERT';\n\n// instance_name vem de item.instanceName (setado pelo Edit Fields1 de body.instance)\nconst instance_name = String(item.instanceName || item.instanceId || '').trim();\n\n// numero_clinica vem de item.numEmpresa (setado pelo Edit Fields1 de body.sender), so digitos\nconst numero_clinica = digits(item.numeroClinica || item.numEmpresa || '');\n\nconst whSrc = item._wh_source === 'test' ? 'test' : 'prod';\nconst _tenant = { event, instance_name, numero_clinica, wh_source: whSrc };\nreturn [{ json: { ...item, _tenant } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3232,-1536],"id":"68c1aaa6-daf3-4598-98c0-481d9cf75067","name":"Code Normalizar Evolution Clinica"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-msg-1","leftValue":"={{ $json._tenant.event }}","rightValue":"MESSAGES_UPSERT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3040,-1536],"id":"b9c6ada6-b608-473c-8fbc-0341ae60a060","name":"IF evento e mensagem"},{"parameters":{"method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_resolve_clinic' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_instance_name: $json._tenant.instance_name || '', p_numero_clinica: $json._tenant.numero_clinica || '' }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2752,-1680],"id":"73a2a3b1-8a8a-4fb7-8cdc-de3573ce8200","name":"HTTP RPC n8n_resolve_clinic","continueOnFail":true},{"parameters":{"jsCode":"const base = $('Code Normalizar Evolution Clinica').first().json;\nconst raw = $input.first().json;\nconst row = Array.isArray(raw) ? (raw[0] ?? {}) : raw;\nconst cenario =\n  row.cenario ||\n  (raw && typeof raw === 'object' && !Array.isArray(raw) && raw.message ? 'clinica_nao_encontrada' : null) ||\n  'clinica_nao_encontrada';\nreturn [{ json: { ...base, ...row, cenario } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2560,-1680],"id":"ff56c25c-24f0-49bf-8244-2be225908afa","name":"Code merge webhook e resolucao"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sw-1","leftValue":"={{ $json.cenario }}","rightValue":"clinica_nao_encontrada","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"clinica_nao_encontrada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sw-2","leftValue":"={{ $json.cenario }}","rightValue":"teste_expirado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"teste_expirado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sw-3","leftValue":"={{ $json.cenario }}","rightValue":"mensal_expirado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"plano_expirado_ou_inadimplente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"sw-4","leftValue":"={{ $json.cenario }}","rightValue":"ativo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ativo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2368,-1728],"id":"6121ead0-30ee-4de0-a7a0-6b0c9e6eb024","name":"Switch assinatura e acesso"},{"parameters":{"method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendText/' + ($json._tenant.instance_name || $env.EVOLUTION_INSTANCE || '') }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: String(($json.body.data.key.remoteJid || '').split('@')[0]).replace(/\\D/g, ''), text: 'Seu periodo de teste deste consultorio expirou. Entre em contacto com o suporte para continuar.' }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1968,-1968],"id":"70e14b87-e6bb-4c15-9be5-52baed6046a4","name":"HTTP aviso teste expirado","credentials":{"evolutionApi":{"id":"Imygiuu6SHaoHNMn","name":"Evolution account felipe"}},"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendText/' + ($json._tenant.instance_name || $env.EVOLUTION_INSTANCE || '') }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: String(($json.body.data.key.remoteJid || '').split('@')[0]).replace(/\\D/g, ''), text: 'A assinatura deste consultorio esta inativa ou em atraso. Regularize o pagamento para voltar a usar o atendimento automatico.' }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1840,-1744],"id":"b853c925-d6e5-419f-9532-d05113954ac8","name":"HTTP aviso mensal bloqueado","credentials":{"evolutionApi":{"id":"Imygiuu6SHaoHNMn","name":"Evolution account felipe"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1b2c3d4-5e6f-7890-abcd-ef1234567011-c","leftValue":"={{ $('Code merge webhook e resolucao').first().json._tenant.wh_source }}","rightValue":"test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2000,-2160],"id":"7d07bfdc-3727-4595-80b8-3493c5b854d9","name":"IF webhook de teste bloqueio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1b2c3d4-5e6f-7890-abcd-ef1234567012-c","leftValue":"={{ $('Code merge webhook e resolucao').first().json._tenant.wh_source }}","rightValue":"test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1792,-1968],"id":"fb91a942-173b-4944-847b-990d70540029","name":"IF webhook de teste bloqueio te"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1b2c3d4-5e6f-7890-abcd-ef1234567013-c","leftValue":"={{ $('Code merge webhook e resolucao').first().json._tenant.wh_source }}","rightValue":"test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1568,-1728],"id":"8a84e502-2b46-4fa0-a6bd-08af31665a45","name":"IF webhook de teste bloqueio me"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-t-4","leftValue":"={{ $json._tenant.wh_source }}","rightValue":"test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1824,-1360],"id":"afd0ac9e-5943-40ff-8f1c-75e79ca05682","name":"IF webhook de teste ativo"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, motivo: $('Code merge webhook e resolucao').first().json.cenario, clinica_id: $('Code merge webhook e resolucao').first().json.clinica_id, detalhe: 'Clinica nao encontrada ou ambigua.' }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1632,-2320],"id":"0e0eec21-d5d9-4262-b228-16d8b89e227c","name":"Respond webhook teste bloqueado"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, motivo: $('Code merge webhook e resolucao').first().json.cenario, clinica_id: $('Code merge webhook e resolucao').first().json.clinica_id }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1488,-2000],"id":"c50aad26-263c-478f-98d4-7ae7039f8a74","name":"Respond webhook teste bloqueado te"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, motivo: $('Code merge webhook e resolucao').first().json.cenario, clinica_id: $('Code merge webhook e resolucao').first().json.clinica_id }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1280,-1712],"id":"20cd4f00-9bf8-4b35-a685-8bc885d19ae2","name":"Respond webhook teste bloqueado me"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, motivo: 'ativo', clinica_id: $json.clinica_id, cenario: $json.cenario }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1536,-1456],"id":"fbc4e114-0f4d-40d5-b6bf-c7773da91e5b","name":"Respond webhook teste ativo"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2784,-1440],"id":"444bb561-1e48-41f5-9791-bf6bc5b97a53","name":"NoOp demais eventos Evolution"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-igr-1","leftValue":"={{ $json._tenant.wh_source }}","rightValue":"test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2576,-1440],"id":"be93228d-7998-425d-8650-f9408808f8ef","name":"IF teste apos ignorar evento"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, ignorado: true, evento: $json._tenant.event, motivo: 'evento_nao_mensagem' }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-2288,-1456],"id":"7c4a13ac-5337-4147-8be6-df09a2e5d5cc","name":"Respond webhook teste ignorado"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1632,-2144],"id":"600d5e6c-11a0-4d2d-8f47-3c033f7fad5a","name":"NoOp fim producao bloqueado"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1280,-1856],"id":"82e091fd-c852-45ac-a36a-a04fe51752ac","name":"NoOp fim producao bloqueado te"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1280,-1568],"id":"61a2f786-e6cf-4723-95aa-353f0549d187","name":"NoOp fim producao bloqueado me"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Você é {{ $json.nome_agente || 'Assistente' }}, atendente virtual {{ $json.clinic_name ? 'da ' + $json.clinic_name : 'da clínica' }}. Data/Hora atual: {{ $now.format('dd/MM/yyyy HH:mm') }}\nTelefone do cliente (use nas tools como p_telefone): {{ $('Webhook').first().json.body.data.key.remoteJid }}\n\n## IDENTIDADE\nVocê é {{ $json.nome_agente || 'Assistente' }}, atendente virtual simpática e profissional {{ $json.clinic_name ? 'da ' + $json.clinic_name : 'da clínica' }}. Responda sempre em português, de forma clara, objetiva e acolhedora.\n\n\n## FORMATAÇÃO DAS RESPOSTAS\nNUNCA escreva listas em linha corrida com \"e\" ou vírgulas.\nSEMPRE use quebra de linha para cada item da lista.\n\n✅ CORRETO:\nTemos os seguintes profissionais:\nDr. Joao Lucas (Dentista)\nDra. Maria Letícia (Dentista).\n\nGostaria de escolher algum deles?\n\n❌ ERRADO:\nTemos os profissionais Dr. Joao Lucas e Dra. Maria Letícia, ambos dentistas.\n\nEsta regra vale para listas de: profissionais, procedimentos, horários e agendamentos.\n\n## FERRAMENTAS DISPONÍVEIS\n| Tool | Quando usar |\n|---|---|\n| cs_consultar_servicos | Listar procedimentos e obter id, nome, preço, desconto e parcelamento |\n| cs_consultar_profissionais | Listar profissionais ativos e especialidades |\n| cs_consultar_vagas | Listar horários disponíveis de um dia específico — SEMPRE pergunte a data ao cliente antes de chamar |\n| cs_agendar | Criar agendamento após confirmação do cliente |\n| cs_buscar_agendamentos | Consultar agendamentos existentes do cliente |\n| cs_reagendar | Alterar data/horário de agendamento existente |\n| cs_cancelar | Cancelar agendamento após confirmação explícita |\n\n## INFORMAÇÕES DE PREÇO\ncs_consultar_servicos retorna os campos abaixo:\n- **preco_a_vista_brl**: preço à vista em R$ (pode ser nulo — não cadastrado)\n- **valor_brl**: preço tabela/referência em R$ (pode ser nulo — não cadastrado)\n- **tem_desconto**: se há desconto\n- **desconto_percentual**: % de desconto aplicado\n- **cartao_parcelas_max**: número máximo de parcelas no cartão (nulo = à combinar)\n\n⚠️ REGRAS SOBRE PREÇO:\n- Informe o valor SOMENTE se o cliente perguntar diretamente sobre preço, valor ou custo\n- Se o cliente NÃO perguntar sobre preço: liste apenas os procedimentos disponíveis, SEM mencionar valores, SEM dizer que o preço não foi informado\n- Se o cliente perguntar e os campos de preço estiverem nulos: responda \"O valor deste procedimento não foi informado pela clínica. Recomendo confirmar diretamente com a equipe.\"\n\nExemplo quando o cliente pergunta: \"O Clareamento custa R$ 400,00 à vista, com 10% de desconto, e pode parcelar em até 4x no cartão.\"\nExemplo quando não tem preço cadastrado: \"Temos o procedimento de Clareamento disponível. O valor não foi informado pela clínica — recomendo confirmar diretamente com a equipe.\"\n\n## FLUXO DE AGENDAMENTO\n1. Pergunte qual serviço o cliente deseja\n2. Chame cs_consultar_servicos — guarde o id como servico_id; informe o preço SOMENTE se o cliente perguntar sobre valor\n3. Chame cs_consultar_profissionais e mostre a lista; pergunte qual profissional o cliente prefere\n4. Pergunte o **nome completo** do cliente — nunca use o nome do WhatsApp\n5. Pergunte para qual **data** e **horário** o cliente prefere (ex: \"Para qual dia e horário você prefere?\")\n6. Chame cs_consultar_vagas passando a data_solicitada em YYYY-MM-DD\n   - Se o horário pedido estiver disponível: confirme direto\n   - Se não estiver disponível: mostre os horários livres daquele dia e peça ao cliente escolher\n7. Confirme: nome, serviço, profissional, data e horário\n8. Chame cs_agendar com:\n   - nome_cliente: nome completo informado pelo cliente\n   - telefone_cliente: telefone do sistema\n   - servico_id: UUID de cs_consultar_servicos\n   - profissional_id: UUID de cs_consultar_vagas\n   - data: converta dd/MM/yyyy → YYYY-MM-DD (ex: 30/03/2026 → 2026-03-30)\n   - horario: HH:MM\n9. Confirme o agendamento com resumo claro\n\n## FLUXO DE CANCELAMENTO / REAGENDAMENTO\n1. Chame cs_buscar_agendamentos para ver os agendamentos do cliente\n2. Mostre os agendamentos e pergunte qual quer alterar/cancelar\n3. Para cancelar: peça confirmação explícita antes de chamar cs_cancelar\n4. Para reagendar: consulte cs_consultar_vagas, confirme e chame cs_reagendar\n\n## REGRAS IMPORTANTES\n- Sempre pergunte o nome completo antes de agendar — nunca use o nome do WhatsApp\n- Os preços vêm de cs_consultar_servicos — informe APENAS se o cliente perguntar sobre valor/custo; se não houver preço cadastrado, avise que a clínica não informou e sugira contato direto\n- Nunca cancele ou reagende sem confirmação explícita do cliente\n- Nunca invente horários, preços ou procedimentos\n- Se não houver vagas, informe e sugira outra data\n- Responda de forma concisa — máximo 3 a 5 linhas por mensagem\n\n## SAUDAÇÃO INICIAL\nSe for o primeiro contato (sem histórico), cumprimente com:\n\"Olá! Sou {{ $json.nome_agente || 'o assistente virtual' }}, atendente {{ $json.clinic_name ? 'da ' + $json.clinic_name : 'da clínica' }}. Como posso te ajudar hoje?\"\n\n{{ $json.agent_instructions ? '## INSTRUÇÕES ESPECÍFICAS DA CLÍNICA' + String.fromCharCode(10) + $json.agent_instructions : '' }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2352,-336],"id":"e827d29e-43f1-4050-b76c-7015028a1a54","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"5dc53d5f-d070-433e-8d04-338c0fb42de0","name":"msg","value":"={{ $('Edit Fields1').item.json.msg }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,-864],"id":"9da6a493-36ab-4b8f-a708-eb26441be79d","name":"Edit Fields3"},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela n?o obter? novas informa??es nem alterar? o banco de dados, apenas adicionar? o pensamento ao registro. Use-a quando for necess?rio um racioc?nio complexo ou alguma mem?ria em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-2608,-128],"id":"64543dd2-6308-4f7d-a767-874bd0d326e5","name":"Refletir1"},{"parameters":{"toolDescription":"Envia uma mensagem de rea??o como resposta a uma mensagem do usu?rio. Rea??o ? sempre um emoji.","method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendReaction/' + ($('Edit Fields1').first().json.instanceName || $env.EVOLUTION_INSTANCE || 'tvmundo') }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Edit Fields1').first().json.numCliente }}\",\n    \"fromMe\": {{ $('Webhook').first().json.body.data.key.fromMe }},\n    \"id\": \"{{ $('Webhook').first().json.body.data.key.id }}\"\n  },\n  \"reaction\": \"{reacao}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2480,-128],"id":"237bccd8-e6dd-4066-9059-bd64ab46401e","name":"Reagir mensagem1","credentials":{"evolutionApi":{"id":"Imygiuu6SHaoHNMn","name":"Evolution account felipe"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"pass-all-1","leftValue":"={{ 1 }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1168,-1328],"id":"77962412-e2bd-41a3-a398-b533a27eec3e","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1861fc2-7c83-476d-9d32-a11ed739f786","leftValue":"={{ $json.answer }}","rightValue":"https","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-528,-176],"id":"24555f4d-a6ef-49e4-bf7c-4a065bc32b20","name":"If"},{"parameters":{"method":"POST","url":"={{ 'https://evo.plataformabot.top/message/sendMedia/' + ($json._tenant?.instance_name || $('Edit Fields1').first().json.instanceName || '') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"14027fe51ef29cdee722fffcd46c94bc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $('Edit Fields1').first().json.numCliente, mediatype: 'image', media: $json.imagem }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-448],"id":"b7344659-d35e-41d1-a0ca-d402687e8f88","name":"Evolution API1"},{"parameters":{"jsCode":"return items.map(item => {\n  const texto = item.json.answer || '';\n  const match = texto.match(/https?:\\/\\/[^\\s]+?\\.(jpg|jpeg|png|gif)(\\?[^\\s]*)?/i);\n\n  return {\n    json: {\n      imagem: match ? match[0] : null\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,-288],"id":"18693641-d1f2-432b-8609-c1afbf59f2e8","name":"Code"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code merge webhook e resolucao').first().json.clinica_id + ':' + $('Webhook').first().json.body.data.key.remoteJid }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2736,-128],"id":"cfb82700-e4e8-4fd6-b2a3-b2b9df3b64cc","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"et3QrDBkKSd0EwRF","name":"Postgres clinica"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0.9}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2896,-128],"id":"54be6cad-fe64-41a5-8c26-3faa6a061d7d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"v4dQPWdlMtUeGSD3","name":"OpenAi clinicas"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[-752,-176],"id":"077bcd76-7a15-41f2-83e0-3302b01ddbff"},{"parameters":{"toolDescription":"Busca agendamentos ativos pelo telefone WhatsApp (remoteJid). Retorna id, profissional_id, data_iso (YYYY-MM-DD), horario (HH:MM), servi?o e profissional. Use antes de reagendar ou cancelar.","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_cs_buscar_agendamentos' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_telefone\": \"{telefone}\",\n  \"p_clinic_id\": \"={{ $('Code merge webhook e resolucao').first().json.clinica_id }}\"\n}","placeholderDefinitions":{"values":[{"name":"telefone","description":"Telefone WhatsApp completo (ex.: 5581999990000@s.whatsapp.net). Use o mesmo do Webhook.","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2624,304],"id":"ab1b10ce-6d71-4d88-b0e6-520c2b7754c0","name":"cs_buscar_agendamentos","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Lista horários disponíveis de um dia específico. Antes de chamar esta tool, SEMPRE pergunte ao cliente a data desejada. Passe data_solicitada em formato YYYY-MM-DD (ex: 2026-04-15). Retorna: horario_id, data (dd/MM/yyyy), horario (HH:MM), profissional, profissional_id. Use o profissional_id retornado aqui em cs_agendar.","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_cs_consultar_vagas' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ '{\"p_clinic_id\":\"' + $('Code merge webhook e resolucao').first().json.clinica_id + '\",\"p_data\":\"{data_solicitada}\"}' }}","placeholderDefinitions":{"values":[{"name":"data_solicitada","description":"Data desejada pelo cliente no formato YYYY-MM-DD (ex: 2026-04-15). Converta de dd/MM/yyyy se necessário.","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2432,304],"id":"67746a1b-555b-44c7-978e-4f2830c60105","name":"cs_consultar_vagas","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Lista os procedimentos/servi?os ativos cadastrados pela cl?nica (id, nome, descri??o, dura??o). O campo \"id\" retornado ? o servico_id a usar em cs_agendar. Chame quando o cliente perguntar o que a cl?nica oferece, ou para obter o servico_id antes de agendar.","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_clinic_procedimentos' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_clinic_id: $('Code merge webhook e resolucao').first().json.clinica_id }) }}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2240,304],"id":"f9d8a601-75b2-4b85-8f0d-c24520e76664","name":"cs_consultar_servicos","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Cria agendamento ap?s confirma??o expl?cita do cliente. OBRIGAT?RIO antes de chamar: 1) chame cs_consultar_servicos para obter o servico_id do servi?o escolhido; 2) converta a data de dd/MM/yyyy (retornada por cs_consultar_vagas) para YYYY-MM-DD; 3) horario no formato HH:MM; 4) use o nome do cliente da conversa em nome_cliente; 5) telefone j? est? no sistema. Par?metros: nome_cliente, telefone_cliente, profissional_id (UUID de cs_consultar_vagas), servico_id (UUID de cs_consultar_servicos), data (YYYY-MM-DD), horario (HH:MM), observacoes.","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_cs_agendar' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"p_nome_cliente\": \"{nome_cliente}\",\n  \"p_telefone\": \"{telefone_cliente}\",\n  \"p_profissional_id\": \"{profissional_id}\",\n  \"p_servico_id\": \"{servico_id}\",\n  \"p_data\": \"{data}\",\n  \"p_horario\": \"{horario}\",\n  \"p_observacoes\": \"{observacoes}\"\n}","placeholderDefinitions":{"values":[{"name":"nome_cliente","description":"Nome do cliente (vem do sistema)","type":"string"},{"name":"telefone_cliente","description":"Telefone WhatsApp completo (remoteJid)","type":"string"},{"name":"profissional_id","description":"UUID do profissional (tool vagas)","type":"string"},{"name":"servico_id","description":"UUID do servi?o (tool servi?os)","type":"string"},{"name":"data","description":"Data YYYY-MM-DD","type":"string"},{"name":"horario","description":"Hora HH:MM","type":"string"},{"name":"observacoes","description":"Observa??es ou string vazia","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2048,304],"id":"6ac9d0e5-149f-4e6a-8164-04a4544cf4d8","name":"cs_agendar","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Reagenda consulta existente ap?s confirma??o. profissional_antigo_id, data_antiga e horario_antigo v?m de cs_buscar_agendamentos; novo slot das vagas dispon?veis.","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_cs_reagendar' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_agendamento_id\": \"{agendamento_id}\",\n  \"p_nova_data\": \"{nova_data}\",\n  \"p_novo_horario\": \"{novo_horario}\",\n  \"p_novo_profissional_id\": \"{novo_profissional_id}\",\n  \"p_profissional_antigo_id\": \"{profissional_antigo_id}\",\n  \"p_data_antiga\": \"{data_antiga}\",\n  \"p_horario_antigo\": \"{horario_antigo}\"\n}","placeholderDefinitions":{"values":[{"name":"agendamento_id","description":"UUID do agendamento","type":"string"},{"name":"nova_data","description":"Nova data YYYY-MM-DD","type":"string"},{"name":"novo_horario","description":"Novo hor?rio HH:MM","type":"string"},{"name":"novo_profissional_id","description":"UUID do profissional do novo slot","type":"string"},{"name":"profissional_antigo_id","description":"UUID profissional atual (da busca)","type":"string"},{"name":"data_antiga","description":"Data atual YYYY-MM-DD (da busca)","type":"string"},{"name":"horario_antigo","description":"Hor?rio atual HH:MM (da busca; usar HH:MM mesmo que a busca mostre HH:MM)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1856,304],"id":"8e8e0859-8158-4748-a251-cbfa72beb01b","name":"cs_reagendar","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Cancela consulta ap?s confirma??o expl?cita. profissional_id, data (YYYY-MM-DD) e horario (HH:MM) devem ser os do agendamento cancelado (cs_buscar_agendamentos).","method":"POST","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/rpc/n8n_cs_cancelar' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_agendamento_id\": \"{agendamento_id}\",\n  \"p_profissional_id\": \"{profissional_id}\",\n  \"p_data\": \"{data}\",\n  \"p_horario\": \"{horario}\",\n  \"p_motivo\": \"{motivo}\"\n}","placeholderDefinitions":{"values":[{"name":"agendamento_id","description":"UUID do agendamento","type":"string"},{"name":"profissional_id","description":"UUID do profissional da consulta","type":"string"},{"name":"data","description":"Data da consulta YYYY-MM-DD","type":"string"},{"name":"horario","description":"Hor?rio HH:MM","type":"string"},{"name":"motivo","description":"Motivo ou \"Cancelado pelo cliente\"","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1664,304],"id":"aaedacaf-88a5-4fdf-8f28-79c3cfb0c914","name":"cs_cancelar","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"toolDescription":"Lista os profissionais ativos da cl?nica com nome e especialidade. Use sempre que o cliente perguntar sobre m?dicos, dentistas, profissionais, especialistas, doutores, quem atende, com quem pode ser atendido, ou quais profissionais a cl?nica tem.","url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/professionals?select=id,name,specialty&is_active=eq.true&order=name.asc&clinic_id=eq.' + $('Code merge webhook e resolucao').first().json.clinica_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1472,304],"id":"38b0cf63-bf3c-48ee-8c0a-e1602bea7972","name":"cs_consultar_profissionais","credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"url":"={{ 'https://xkwdwioawosthwjqijfb.supabase.co'.replace(/\\/+$/, '') + '/rest/v1/clinics' }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"id,name,phone,timezone,agent_instructions"},{"name":"id","value":"={{ 'eq.' + $('Code merge webhook e resolucao').first().json.clinica_id }}"}]},"options":{}},"id":"78eade60-d7f1-42db-84ea-bd70114b3e7c","name":"Buscar Config Cl?nica","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2688,-336],"executeOnce":true,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"SmHWpBnyL1cYuhlm","name":"Supabase clinicas"}}},{"parameters":{"jsCode":"const row = ($input.first().json[0] || $input.first().json);\nconst rawInstr = row?.agent_instructions;\nconst clinic_name = row?.name || '';\n\nlet agent_instructions = '';\nlet nome_agente = '';\n\nif (rawInstr) {\n  try {\n    const cfg = typeof rawInstr === 'string' ? JSON.parse(rawInstr) : rawInstr;\n    nome_agente = cfg.nome_agente || '';\n    const secoes = [\n      { key: 'identidade', label: 'IDENTIDADE DO AGENTE' },\n      { key: 'triagem',    label: 'TRIAGEM E URGENCIAS' },\n      { key: 'tom',        label: 'TOM E LINGUAGEM' },\n      { key: 'orientacoes',label: 'ORIENTACOES AO PACIENTE' },\n      { key: 'transferir', label: 'QUANDO TRANSFERIR PARA HUMANO' },\n      { key: 'outros',     label: 'OUTRAS INSTRUCOES' },\n    ];\n    agent_instructions = secoes\n      .filter(s => typeof cfg[s.key] === 'string' && cfg[s.key].trim())\n      .map(s => '### ' + s.label + '\\n' + cfg[s.key].trim())\n      .join('\\n\\n');\n  } catch(e) { agent_instructions = String(rawInstr); }\n}\n\nconst mensagem = $('Edit Fields2').first().json.mensagem;\nreturn [{ json: { mensagem, agent_instructions, nome_agente, clinic_name } }];"},"id":"ddcdcb0e-e998-4c40-8f6c-064b3e852df9","name":"Monta Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2528,-336]},{"parameters":{"assignments":{"assignments":[{"id":"ef1-01","name":"numCliente","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"ef1-02","name":"numEmpresa","value":"={{ $json.body.sender }}","type":"string"},{"id":"ef1-03","name":"nomeCliente","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"ef1-04","name":"instanceId","value":"={{ $json.body.data.instanceId }}","type":"string"},{"id":"ef1-05","name":"instanceName","value":"={{ $json.body.instance || $json.body.instanceName || $json.body.data.instanceName || \"\" }}","type":"string"},{"id":"ef1-06","name":"msg","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"ef1-07","name":"msgType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"ef1-08","name":"msgID","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"ef1-09","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"ef1-10","name":"timestamp","value":"={{ $json.body.data.messageTimestamp }}","type":"string"},{"id":"ef1-11","name":"event","value":"={{ $json.body.event ?? \"\" }}","type":"string"},{"id":"ef1-12","name":"numeroClinica","value":"={{ $json.body.numero_clinica ?? $json.body.data.numero_clinica ?? $json.body.sender ?? \"\" }}","type":"string"},{"id":"ef1-13","name":"base64Audio","value":"={{ $json.body.data.message.audioMessage.url ?? \"\" }}","type":"string"},{"id":"ef1-14","name":"base64Image","value":"={{ $json.body.data.message.imageMessage.url ?? \"\" }}","type":"string"},{"id":"ef1-15","name":"intanceIDtelcliente","value":"={{ $json.body.data.instanceId }}{{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"ef1-16","name":"_wh_source","value":"={{ $execution.mode === 'manual' ? 'test' : 'prod' }}","type":"string"}]},"options":{}},"id":"14972553-ed23-487e-80fb-72a863d8b16d","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,-1536]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f59e7243-5b97-4052-87a9-19d85de44f51","leftValue":"558196454656@s.whatsapp.net","rightValue":"={{ $json.body.data.key.remoteJid }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3680,-1536],"id":"2f2bcaff-0887-4a38-a3fd-47f994a98174","name":"Filter1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f59e7243-5b97-4052-87a9-19d85de44f51","leftValue":"558196454656@s.whatsapp.net","rightValue":"={{ $json.body.data.key.remoteJid }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3552,-1184],"id":"1a6e5601-acf6-443c-8e5e-02d3ac4ad5e7","name":"Filter2"},{"id":"wai-n01-save-msg","name":"HTTP Salvar msg inbound","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2464,-1800],"parameters":{"method":"POST","url":"https://xkwdwioawosthwjqijfb.supabase.co/rest/v1/rpc/n8n_save_whatsapp_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrd2R3aW9hd29zdGh3anFpamZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNzUzMywiZXhwIjoyMDkwMTAzNTMzfQ._CoWPqn1bDqNRJ-g6EzGnqE86YI_LW5T_N6At3CPal4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  p_clinic_id: $json.clinica_id || '',\n  p_phone:     $json.numCliente  || '',\n  p_body:      String($json.msg  || '').trim(),\n  p_direction: 'inbound'\n}) }}","options":{"response":{"response":{"neverError":true}}}}}],"connections":{"Campos iniciais":{"main":[[{"node":"A Empresa Assumiu o Atendimento?","type":"main","index":0}]]},"A Empresa Assumiu o Atendimento?":{"main":[[{"node":"Get Empresa1","type":"main","index":0}],[{"node":"Get Empresa","type":"main","index":0}]]},"Get Empresa":{"main":[[{"node":"Get Cliente","type":"main","index":0}]]},"Get Cliente":{"main":[[{"node":"CRM Cliente com id?","type":"main","index":0}]]},"Get Empresa1":{"main":[[{"node":"Update Cliente","type":"main","index":0}]]},"Update Cliente":{"main":[[{"node":"esperar 10 minutos","type":"main","index":0}]]},"Verificar se cliente est? cadastrado":{"main":[[{"node":"Bot inativo","type":"main","index":0}],[{"node":"Create Cliente","type":"main","index":0}]]},"Create Cliente":{"main":[[{"node":"Bot inativo","type":"main","index":0}]]},"Bot inativo":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Verifica se ? Image, Texto ou ?udio1","type":"main","index":0}]]},"Get Empresa2":{"main":[[{"node":"Update Cliente1","type":"main","index":0}]]},"Update Cliente1":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"esperar 10 minutos":{"main":[[{"node":"Get Empresa2","type":"main","index":0}]]},"Se existe o emoji ??":{"main":[[{"node":"esperar 10 minutos","type":"main","index":0}],[{"node":"Get Empresa1","type":"main","index":0}]]},"BuscaMensagens":{"main":[[{"node":"VerificaSe?MaiorQue1","type":"main","index":0}]]},"RegistraMsgFila":{"main":[[{"node":"BuscaMensagens","type":"main","index":0}]]},"VerificaSe?MaiorQue1":{"main":[[{"node":"N?o faz nada, j? tem mensagem processando","type":"main","index":0}],[{"node":"Aguarda 13 segundos","type":"main","index":0}]]},"VerificaMensagens":{"main":[[{"node":"OrganizaMensagem","type":"main","index":0}]]},"OrganizaMensagem":{"main":[[{"node":"ResetaFila","type":"main","index":0}]]},"ResetaFila":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Aguarda 13 segundos":{"main":[[{"node":"VerificaMensagens","type":"main","index":0}]]},"Quebra a mensagem em v?rias mensagens":{"main":[[{"node":"Separa 1 mensagem para enviar","type":"main","index":0}]]},"Separa 1 mensagem para enviar":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Repete":{"main":[[{"node":"Separa 1 mensagem para enviar","type":"main","index":0}]]},"Aguarda 1 segundo":{"main":[[{"node":"Repete","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Aguarda 1 segundo","type":"main","index":0}]]},"Verifica se ? Image, Texto ou ?udio1":{"main":[[{"node":"? realmente ?udio?","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"? realmente imagem?","type":"main","index":0}]]},"? realmente ?udio?":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"No Op - IF m?dia ? texto","type":"main","index":0}]]},"? realmente imagem?":{"main":[[{"node":"Pega o base64 da imagem1","type":"main","index":0}],[{"node":"No Op - IF m?dia ? texto","type":"main","index":0}]]},"No Op - IF m?dia ? texto":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Pega o base64 da imagem1":{"main":[[{"node":"Baixa a imagem1","type":"main","index":0}]]},"Baixa a imagem1":{"main":[[{"node":"Descreve o que est? na imagem1","type":"main","index":0}]]},"Descreve o que est? na imagem1":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"Transcreve1":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"Transcreve1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Quebra a mensagem em v?rias mensagens","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Buscar Config Cl?nica","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Reagir mensagem1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Filter":{"main":[[{"node":"Campos iniciais","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Separa 1 mensagem para enviar","type":"main","index":0}]]},"Code":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Replace Me1":{"main":[[{"node":"If","type":"main","index":0}]]},"cs_buscar_agendamentos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_consultar_vagas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_consultar_servicos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_agendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_reagendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_cancelar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cs_consultar_profissionais":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Buscar Config Cl?nica":{"main":[[{"node":"Monta Contexto","type":"main","index":0}]]},"Monta Contexto":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code Normalizar Evolution Clinica":{"main":[[{"node":"IF evento e mensagem","type":"main","index":0}]]},"IF evento e mensagem":{"main":[[{"node":"HTTP RPC n8n_resolve_clinic","type":"main","index":0}],[{"node":"NoOp demais eventos Evolution","type":"main","index":0}]]},"HTTP RPC n8n_resolve_clinic":{"main":[[{"node":"Code merge webhook e resolucao","type":"main","index":0}]]},"Code merge webhook e resolucao":{"main":[[{"node":"HTTP Salvar msg inbound","type":"main","index":0}]]},"Switch assinatura e acesso":{"main":[[{"node":"IF webhook de teste bloqueio","type":"main","index":0}],[{"node":"HTTP aviso teste expirado","type":"main","index":0}],[{"node":"HTTP aviso mensal bloqueado","type":"main","index":0}],[{"node":"IF webhook de teste ativo","type":"main","index":0}]]},"HTTP aviso teste expirado":{"main":[[{"node":"IF webhook de teste bloqueio te","type":"main","index":0}]]},"HTTP aviso mensal bloqueado":{"main":[[{"node":"IF webhook de teste bloqueio me","type":"main","index":0}]]},"IF webhook de teste bloqueio":{"main":[[{"node":"Respond webhook teste bloqueado","type":"main","index":0}],[{"node":"NoOp fim producao bloqueado","type":"main","index":0}]]},"IF webhook de teste bloqueio te":{"main":[[{"node":"Respond webhook teste bloqueado te","type":"main","index":0}],[{"node":"NoOp fim producao bloqueado te","type":"main","index":0}]]},"IF webhook de teste bloqueio me":{"main":[[{"node":"Respond webhook teste bloqueado me","type":"main","index":0}],[{"node":"NoOp fim producao bloqueado me","type":"main","index":0}]]},"IF webhook de teste ativo":{"main":[[{"node":"Respond webhook teste ativo","type":"main","index":0}],[{"node":"Filter","type":"main","index":0}]]},"Respond webhook teste ativo":{"main":[[{"node":"Filter","type":"main","index":0}]]},"NoOp demais eventos Evolution":{"main":[[{"node":"IF teste apos ignorar evento","type":"main","index":0}]]},"IF teste apos ignorar evento":{"main":[[{"node":"Respond webhook teste ignorado","type":"main","index":0}]]},"CRM Cliente com id?":{"main":[[{"node":"RPC n8n_crm_whatsapp_touch","type":"main","index":0}],[{"node":"Verificar se cliente est? cadastrado","type":"main","index":0}]]},"RPC n8n_crm_whatsapp_touch":{"main":[[{"node":"CRM reidrata Get Cliente","type":"main","index":0}]]},"CRM reidrata Get Cliente":{"main":[[{"node":"Verificar se cliente est? cadastrado","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code Normalizar Evolution Clinica","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Salvar msg inbound":{"main":[[{"node":"Switch assinatura e acesso","type":"main","index":0}]]}},"authors":"Felipe da silva","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-05T14:33:15.622Z","id":253,"workflowId":"kCX2LfxJrdYWB0vk","versionId":"9a8d9696-6760-4dcc-9c55-7db3a548b425","event":"activated","userId":"d850cd0f-6bfa-4a6d-ab5a-55521cfd6854"},{"createdAt":"2026-04-05T14:33:15.598Z","id":252,"workflowId":"kCX2LfxJrdYWB0vk","versionId":"9a8d9696-6760-4dcc-9c55-7db3a548b425","event":"deactivated","userId":"d850cd0f-6bfa-4a6d-ab5a-55521cfd6854"}]}}